Repository Jomalang/ggogit, pull requests merged in 2024-09, with the labels that each got.

#55 # 51 memoir 리포지 생성
  src/main/java/Recorders/ggogit/GgogitApplication.java
  src/main/java/Recorders/ggogit/domain/memoir/entity/Memoir.java
  src/main/java/Recorders/ggogit/domain/memoir/entity/MemoirComment.java
  src/main/java/Recorders/ggogit/domain/memoir/entity/MemoirCommentLike.java
  src/main/java/Recorders/ggogit/domain/memoir/entity/MemoirLike.java
  src/main/java/Recorders/ggogit/domain/memoir/repository/MemoirCommentLikeRepository.java
  src/main/java/Recorders/ggogit/domain/memoir/repository/MemoirCommentRepository.java
  src/main/java/Recorders/ggogit/domain/memoir/repository/MemoirLikeRepository.java
  src/main/java/Recorders/ggogit/domain/memoir/repository/MemoirRepository.java
  src/main/java/Recorders/ggogit/domain/memoir/vIew/MemoirCommentLikeView.java
  src/main/resources/db/oracle/memoir.sql
  src/main/resources/mappers/Memoir/MemoirCommentLikeRepositoryMapper.xml
  src/main/resources/mappers/Memoir/MemoirCommentRepositoryMapper.xml
  src/main/resources/mappers/Memoir/MemoirLikeRepositoryMapper.xml
  src/main/resources/mappers/Memoir/MemoirRepositoryMapper.xml
  src/main/resources/mybatis-config.xml
  src/test/java/Recorders/ggogit/memoir/MemoirCommentLikeRepositoryTest.java
  src/test/java/Recorders/ggogit/memoir/MemoirCommentRepositoryTest.java
  src/test/java/Recorders/ggogit/memoir/MemoirLikeRepositoryTest.java
  src/test/java/Recorders/ggogit/memoir/MemoirRepositoryTest.java
Labels: DB, Data, 레포지토리

#54 # 51 Leaf 도메인 레포지 생성
  src/main/java/Recorders/ggogit/domain/leaf/domain/LeafBookDomain.java
  src/main/java/Recorders/ggogit/domain/leaf/domain/LeafEtcDomain.java
  src/main/java/Recorders/ggogit/domain/leaf/domain/LeafTagDomain.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/Leaf.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafBook.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafComment.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafCommentLike.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafLike.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafTag.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafTagMap.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafBookRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafCommentLikeRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafCommentRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafLikeRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafTagMapRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafTagRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/filter/LeafRepositoryFilter.java
  src/main/resources/db/mysql/schema.sql
  src/main/resources/db/oracle/schema.sql
  src/main/resources/mappers/leaf/LeafBookRepositoryMapper.xml
  src/main/resources/mappers/leaf/LeafCommentLikeRepositoryMapper.xml
  src/main/resources/mappers/leaf/LeafCommentRepositoryMapper.xml
  src/main/resources/mappers/leaf/LeafLikeRepositoryMapper.xml
  src/main/resources/mappers/leaf/LeafRepositoryMapper.xml
  src/main/resources/mappers/leaf/LeafTagMapRepositoryMapper.xml
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafBookRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafCommentLikeRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafCommentRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafLikeRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafTagMapRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafTagRepositoryTest.java
  src/test/resources/domain/leaf/repository/leaf-book-repository-test.sql
  src/test/resources/domain/leaf/repository/leaf-comment-like-repository-test.sql
  src/test/resources/domain/leaf/repository/leaf-comment-repository-test.sql
  src/test/resources/domain/leaf/repository/leaf-like-repository-test.sql
  src/test/resources/domain/leaf/repository/leaf-repository-test.sql
  src/test/resources/domain/leaf/repository/leaf-tag-map-repository-test.sql
  src/test/resources/domain/leaf/repository/leaf-tag-repository-test.sql
Labels: DB, Data, 레포지토리

#58 Update:#51 필드타입 변경에 의한 메서드 변경
  src/main/java/Recorders/ggogit/domain/memoir/entity/Memoir.java
  src/main/java/Recorders/ggogit/domain/memoir/entity/MemoirComment.java
  src/main/java/Recorders/ggogit/domain/memoir/entity/MemoirCommentLike.java
  src/main/java/Recorders/ggogit/domain/memoir/entity/MemoirLike.java
  src/test/java/Recorders/ggogit/memoir/MemoirCommentLikeRepositoryTest.java
  src/test/java/Recorders/ggogit/memoir/MemoirCommentRepositoryTest.java
  src/test/java/Recorders/ggogit/memoir/MemoirLikeRepositoryTest.java
  src/test/java/Recorders/ggogit/memoir/MemoirRepositoryTest.java
Labels: DB, Data, 레포지토리

#61 Book repository 생성
  src/main/java/Recorders/ggogit/domain/book/domain/1.txt
  src/main/java/Recorders/ggogit/domain/book/entity/Book.java
  src/main/java/Recorders/ggogit/domain/book/entity/BookComment.java
  src/main/java/Recorders/ggogit/domain/book/entity/BookCommentLike.java
  src/main/java/Recorders/ggogit/domain/book/entity/BookLike.java
  src/main/java/Recorders/ggogit/domain/book/repository/BookCommentLikeRepository.java
  src/main/java/Recorders/ggogit/domain/book/repository/BookCommentRepository.java
  src/main/java/Recorders/ggogit/domain/book/repository/BookLikeRepository.java
  src/main/java/Recorders/ggogit/domain/book/repository/BookRepository.java
  src/main/java/Recorders/ggogit/domain/book/service/2.txt
  src/main/resources/mappers/book/BookCommentLikeRepositoryMapper.xml
  src/main/resources/mappers/book/BookCommentRepositoryMapper.xml
  src/main/resources/mappers/book/BookLikeRepositoryMapper.xml
  src/main/resources/mappers/book/BookRepositoryMapper.xml
  src/test/java/Recorders/ggogit/domain/book/repository/BookLikeRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/book/repository/BookRepositoryTest.java
Labels: CSS

#62 Upadate #51 Memoir 서비스 인터페이스 및, 에디터 이용한 save기능 구현
  src/main/java/Recorders/ggogit/domain/memoir/entity/Memoir.java
  src/main/java/Recorders/ggogit/domain/memoir/service/MemoirService.java
  src/main/java/Recorders/ggogit/domain/memoir/service/MemoryMemoirServiceImpl.java
  src/main/java/Recorders/ggogit/web/memoir/MemoirController.java
  src/main/java/Recorders/ggogit/web/memoir/MemoirForm.java
  src/main/java/Recorders/ggogit/web/memoir/controller/MemoirController.java
  src/main/java/Recorders/ggogit/web/memoir/controller/MemoirFileApiController.java
  src/main/java/Recorders/ggogit/web/memoir/memoirSaveForm.java
  src/main/resources/application.yml
  src/main/resources/errors.properties
  src/main/resources/messages.properties
  src/main/resources/static/common/text.css
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/view/memoir/index.html
  src/main/resources/templates/view/memoir/reg.html
Labels: JavaScript, DB, Data, 서비스, 컨트롤러

#63 Add: 로그인, 회원가입 기능 구현
  src/main/java/Recorders/ggogit/domain/CommonTypeHandler/booleanToNumberTypeHandler.java
  src/main/java/Recorders/ggogit/domain/member/entity/Member.java
  src/main/java/Recorders/ggogit/domain/member/service/LoginService.java
  src/main/java/Recorders/ggogit/web/WebConfig.java
  src/main/java/Recorders/ggogit/web/interceptor/LoginCheckInterceptor.java
  src/main/java/Recorders/ggogit/web/main/MainController.java
  src/main/java/Recorders/ggogit/web/member/MemberController.java
  src/main/java/Recorders/ggogit/web/member/controller/MemberController.java
  src/main/java/Recorders/ggogit/web/member/form/LoginForm.java
  src/main/java/Recorders/ggogit/web/member/form/LoginRegForm.java
  src/main/java/Recorders/ggogit/web/member/session/SessionConst.java
  src/main/resources/application.yml
  src/main/resources/errors.properties
  src/main/resources/mappers/member/MemberRepositoryMapper.xml
  src/main/resources/static/common/text.css
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/templates/fragments/button.html
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/index.html
  src/main/resources/templates/view/index.html
  src/main/resources/templates/view/member/index.html
  src/main/resources/templates/view/member/join-input.html
  src/main/resources/templates/view/member/join.html
Labels: Fragment, 서비스, 컨트롤러

#65 Service Leaf 개발 중간 Merge 요청
  src/main/java/Recorders/ggogit/Type/BookCategoryType.java
  src/main/java/Recorders/ggogit/Type/LeafDirectionType.java
  src/main/java/Recorders/ggogit/Type/SearchType.java
  src/main/java/Recorders/ggogit/Type/SeedCategoryType.java
  src/main/java/Recorders/ggogit/domain/config/mybatis/BooleanToNumberTypeHandler.java
  src/main/java/Recorders/ggogit/domain/leaf/domain/LeafTagDomain.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafEtcService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafTagService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/MemoryLeafBookServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/MemoryLeafEtcServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/MemoryLeafServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/MemoryLeafTagServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafBookView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafBreadcrumbView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafCardView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafDetailView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafImageCardView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafItemView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafRecentBranchView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafTagView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafView.java
  src/main/java/Recorders/ggogit/entity/Branch.java
  src/main/java/Recorders/ggogit/entity/SeedCategoryType.java
  src/main/java/Recorders/ggogit/entity/Tree.java
  src/main/java/Recorders/ggogit/web/leaf/LeafController.java
  src/main/java/Recorders/ggogit/web/leaf/TagController.java
  src/main/java/Recorders/ggogit/web/leaf/form/LeafFrom.java
  src/main/java/Recorders/ggogit/web/tree/TreeController.java
  src/main/resources/db/mysql/schema.sql
  src/main/resources/db/oracle/reset.sql
  src/main/resources/db/oracle/schema.sql
  src/main/resources/static/css/fragments.css
  src/main/resources/static/svg/icon-option.svg
  src/main/resources/templates/component/top-bar/top-bar.css
  src/main/resources/templates/component/top-bar/top-bar.html
  src/main/resources/templates/componentWorking/jj/tag-edit.css
  src/main/resources/templates/componentWorking/jj/tag-edit.html
  src/main/resources/templates/componentWorking/jj/top-bar.css
  src/main/resources/templates/fragments/bar.html
  src/main/resources/templates/fragments/bot-bar.html
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/log.html
  src/main/resources/templates/fragments/tag.html
  src/main/resources/templates/fragments/top-bar.html
  src/main/resources/templates/view/leaf/1st-reg-book.html
  src/main/resources/templates/view/leaf/1st-reg-etc.html
  src/main/resources/templates/view/leaf/edit-book.html
  src/main/resources/templates/view/leaf/edit-etc.html
  src/main/resources/templates/view/leaf/list.html
  src/main/resources/templates/view/tag/edit.html
  src/main/resources/templates/view/tag/list.html
  src/test/java/Recorders/ggogit/web/leaf/LeafControllerTest.java
  src/test/java/Recorders/ggogit/web/leaf/form/LeafBookFirstFromTest.java
Labels: 서비스, 컨트롤러

#67 #56 Add: Tree 메모리 Service 구현 중간 병합
  src/main/java/Recorders/ggogit/domain/tree/entity/Tree.java
  src/main/java/Recorders/ggogit/domain/tree/service/MemTreeServiceImpl.java
  src/main/java/Recorders/ggogit/domain/tree/service/TreeRegRowService.java
  src/main/java/Recorders/ggogit/domain/tree/service/TreeRegRowServiceImpl.java
  src/main/java/Recorders/ggogit/domain/tree/service/TreeService.java
  src/main/java/Recorders/ggogit/domain/tree/view/FindTreeInfoView.java
  src/main/java/Recorders/ggogit/domain/tree/view/MyTreeListsView.java
  src/main/java/Recorders/ggogit/domain/tree/view/Vm_TreeLikeCount.java
  src/main/java/Recorders/ggogit/web/main/MainController.java
  src/main/java/Recorders/ggogit/web/tree/TreeController.java
  src/main/resources/mappers/tree/TreeRepositoryMapper.xml
  src/main/resources/static/css/fragments.css
  src/main/resources/templates/fragments/background.html
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/view/home/has-tree.html
  src/main/resources/templates/view/tree/search/index.html
Labels: HTML, DB, 서비스

#68 Hotfix/domain member join input
  src/main/java/Recorders/ggogit/domain/member/entity/Member.java
  src/main/java/Recorders/ggogit/domain/member/repository/MemberRepository.java
  src/main/java/Recorders/ggogit/domain/member/service/LoginService.java
  src/main/java/Recorders/ggogit/web/WebConfig.java
  src/main/java/Recorders/ggogit/web/interceptor/LoginCheckInterceptor.java
  src/main/java/Recorders/ggogit/web/member/controller/MemberController.java
  src/main/java/Recorders/ggogit/web/member/form/LoginRegForm.java
  src/main/resources/errors.properties
  src/main/resources/mappers/member/MemberRepositoryMapper.xml
  src/main/resources/static/common/text.css
  src/main/resources/templates/view/member/index.html
  src/main/resources/templates/view/member/join-input.html
  src/test/java/Recorders/ggogit/tree/TreeTest.java
Labels: Fix, 서비스, 컨트롤러

#69 데이터베이스 ISBN 추가
  src/main/resources/db/mysql/schema.sql
  src/main/resources/db/oracle/schema.sql
Labels: DB, 오라클 DB

#73 도서 검색 필터 추가
  src/main/java/Recorders/ggogit/web/book/form/bookSearchType.java
  src/main/java/Recorders/ggogit/web/tree/TreeController.java
  src/main/resources/static/css/fragments.css
  src/main/resources/templates/fragments/filter.html
  src/main/resources/templates/view/tree/book/select.html
Labels: JavaScript, 컨트롤러

#76 스웨거 적용 및 leaf 중간 작업
  src/main/java/Recorders/ggogit/api/leaf/TagController.java
  src/main/java/Recorders/ggogit/config/mybatis/BooleanToNumberTypeHandler.java
  src/main/java/Recorders/ggogit/config/swagger/SwaggerConfig.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafTagMap.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafBookRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafTagMapRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafTagRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/sql/leaf-book-repository.sql
  src/main/java/Recorders/ggogit/domain/leaf/repository/sql/leaf-repository.sql
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafEtcService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafEtcServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafTagService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafTagServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/MemoryLeafBookServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/MemoryLeafEtcServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/MemoryLeafServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/MemoryLeafTagServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafBookView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafBreadcrumbView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafCardView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafEtcView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafItemView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafTagView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafView.java
  src/main/java/Recorders/ggogit/type/SearchType.java
  src/main/java/Recorders/ggogit/type/SeedCategoryType.java
  src/main/java/Recorders/ggogit/type/SortType.java
  src/main/java/Recorders/ggogit/web/leaf/LeafController.java
  src/main/java/Recorders/ggogit/web/leaf/TagController.java
  src/main/java/Recorders/ggogit/web/leaf/form/LeafBookForm.java
  src/main/java/Recorders/ggogit/web/leaf/form/LeafForm.java
  src/main/resources/db/mysql/schema.sql
  src/main/resources/db/oracle/schema.sql
  src/main/resources/mappers/leaf/LeafBookRepositoryMapper.xml
  src/main/resources/mappers/leaf/LeafRepositoryMapper.xml
  src/main/resources/mappers/leaf/LeafTagRepositoryMapper.xml
  src/main/resources/static/css/fragments.css
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/tag.html
  src/main/resources/templates/fragments/top-bar.html
  src/main/resources/templates/view/leaf/1st-reg-book.html
  src/main/resources/templates/view/leaf/reg-book.html
  src/main/resources/templates/view/tag/edit.html
  src/main/resources/templates/view/tag/list.html
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafTagMapRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafTagRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/service/LeafTagServiceImplTest.java
  src/test/resources/domain/leaf/repository/leaf-tag-repository-test.sql
  src/test/resources/domain/leaf/service/leaf-tag-test.sql
  txt/taegyu/2024-09-07.md
Labels: DB, Data, Controller

#75 Update: Valid service-member
  src/main/java/Recorders/ggogit/domain/member/service/LoginService.java
  src/main/java/Recorders/ggogit/domain/member/service/MemberService.java
Labels: Data, 서비스, Service

#77 Add: 트리 생성 TMP 테이블 추가
  src/main/resources/db/mysql/schema.sql
  src/main/resources/db/oracle/schema.sql
Labels: DB, Data

#78 Add: LeafTag 중간 Merge
  build.gradle
  src/main/java/Recorders/ggogit/api/leaf/TagController.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafTagRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafTagService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafTagServiceImpl.java
  src/main/java/Recorders/ggogit/web/leaf/TagController.java
  src/main/java/Recorders/ggogit/web/leaf/form/LeafTagForm.java
  src/main/java/Recorders/ggogit/web/page1.html
  src/main/java/Recorders/ggogit/web/page2.html
  src/main/resources/mappers/leaf/LeafTagRepositoryMapper.xml
  src/main/resources/static/css/fragments.css
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/tag.html
  src/main/resources/templates/fragments/top-bar.html
  src/main/resources/templates/view/leaf/1st-reg-book.html
  src/main/resources/templates/view/tag/edit.html
  src/main/resources/templates/view/tag/list.html
  txt/taegyu/2024-09-07.md
  txt/taegyu/2024-09-09.md
Labels: Controller

#80 Add : #56 Feature/service tree 중간 Merge #79
  src/main/java/Recorders/ggogit/domain/book/repository/BookRepository.java
  src/main/java/Recorders/ggogit/domain/book/service/BookService.java
  src/main/java/Recorders/ggogit/domain/book/service/BookServiceImpl.java
  src/main/java/Recorders/ggogit/domain/book/view/BookInfoView.java
  src/main/java/Recorders/ggogit/domain/tree/repository/TreeRepository.java
  src/main/java/Recorders/ggogit/domain/tree/repository/TreeSaveTmpRepository.java
  src/main/java/Recorders/ggogit/domain/tree/service/MemTreeServiceImpl.java
  src/main/java/Recorders/ggogit/domain/tree/service/TreeService.java
  src/main/java/Recorders/ggogit/domain/tree/service/TreeServiceImpl.java
  src/main/java/Recorders/ggogit/domain/tree/view/BookTreeView.java
  src/main/java/Recorders/ggogit/domain/tree/view/EtcTreeView.java
  src/main/java/Recorders/ggogit/domain/tree/view/MyTreeView.java
  src/main/java/Recorders/ggogit/domain/tree/view/SeedView.java
  src/main/java/Recorders/ggogit/domain/tree/view/TreeInfoView.java
  src/main/java/Recorders/ggogit/web/main/MainController.java
  src/main/java/Recorders/ggogit/web/tree/SeedController.java
  src/main/java/Recorders/ggogit/web/tree/TreeController.java
  src/main/java/Recorders/ggogit/web/tree/form/TreeEtcSaveTmpForm.java
  src/main/java/Recorders/ggogit/web/tree/form/TreeSaveTmpForm.java
  src/main/resources/application.yml
  src/main/resources/mappers/book/BookRepositoryMapper.xml
  src/main/resources/mappers/tree/TreeSaveTmpRepositoryMapper.xml
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/link.html
  src/main/resources/templates/fragments/tab-filter.html
  src/main/resources/templates/view/seed/index.html
  src/main/resources/templates/view/tree/book/reg-auto.html
  src/main/resources/templates/view/tree/book/reg.html
  src/main/resources/templates/view/tree/book/select.html
  src/main/resources/templates/view/tree/reg-etc.html
  src/main/webapp/image/tmp/rock.jpg
  src/test/java/Recorders/ggogit/tree/TreeTest.java
Labels: Data, Service, Controller

#81 Add: 이메일 회원가입 폼 완성
  build.gradle
  src/main/java/Recorders/ggogit/domain/member/service/LoginService.java
  src/main/java/Recorders/ggogit/web/leaf/LeafController.java
  src/main/java/Recorders/ggogit/web/leaf/TagController.java
  src/main/java/Recorders/ggogit/web/main/MainController.java
  src/main/java/Recorders/ggogit/web/member/controller/MemberController.java
  src/main/java/Recorders/ggogit/web/member/validation/LoginRegValidator.java
  src/main/java/Recorders/ggogit/web/member/validation/LoginValidator.java
  src/main/resources/application.yml
  src/main/resources/errors.properties
  src/main/resources/static/common/effect.css
  src/main/resources/static/css/fragments.css
  src/main/resources/templates/fragments/button.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/view/home/has-tree.html
  src/main/resources/templates/view/home/no-tree.html
  src/main/resources/templates/view/leaf/1st-reg-book.html
  src/main/resources/templates/view/leaf/1st-reg-etc.html
  src/main/resources/templates/view/leaf/edit-book.html
  src/main/resources/templates/view/leaf/edit-etc.html
  src/main/resources/templates/view/leaf/reg-book.html
  src/main/resources/templates/view/leaf/reg-etc.html
  src/main/resources/templates/view/member/index.html
  src/main/resources/templates/view/member/join-input.html
  src/main/resources/templates/view/member/join.html
  src/main/resources/templates/view/tag/edit.html
  src/main/resources/templates/view/tag/list.html
  src/main/resources/templates/view/temp/log/register/book.html
  src/main/resources/templates/view/temp/log/register/etc.html
  src/main/resources/templates/view/tree/book/edit.html
Labels: 퍼블리싱, UI, 서비스, 컨트롤러, Service, Controller

#84 Add: 이메일 통한 회원가입 임시 구현
  build.gradle
  src/main/java/Recorders/ggogit/domain/member/entity/MemberJoinEmail.java
  src/main/java/Recorders/ggogit/domain/member/service/EmailService.java
  src/main/java/Recorders/ggogit/domain/member/service/LoginService.java
  src/main/java/Recorders/ggogit/web/member/controller/MemberController.java
  src/main/resources/application.yml
  src/main/resources/templates/view/member/join-input.html
Labels: 서비스, 컨트롤러, Service, Controller

#87 Update: 캐러셀 업데이트
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/js/home-tree-explanation.js
  src/main/resources/static/js/home-tree-index-carousel.js
  src/main/resources/templates/fragments/background.html
  src/main/resources/templates/view/home/has-tree.html
Labels: JavaScript

#86 팝업창 생성, Seed 값 Enum에서 DB값으로 수정
  .gitignore
  build.gradle
  src/main/java/Recorders/ggogit/api/leaf/TagController.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafTag.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafTagMapRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafTagServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafImageCardView.java
  src/main/java/Recorders/ggogit/domain/tree/entity/Seed.java
  src/main/java/Recorders/ggogit/domain/tree/repository/SeedRepository.java
  src/main/java/Recorders/ggogit/domain/tree/service/SeedService.java
  src/main/java/Recorders/ggogit/domain/tree/service/SeedServiceImpl.java
  src/main/java/Recorders/ggogit/type/SeedCategoryType.java
  src/main/java/Recorders/ggogit/web/leaf/LeafController.java
  src/main/java/Recorders/ggogit/web/leaf/TagController.java
  src/main/java/Recorders/ggogit/web/leaf/form/LeafBookForm.java
  src/main/java/Recorders/ggogit/web/leaf/form/LeafForm.java
  src/main/java/Recorders/ggogit/web/page1.html
  src/main/java/Recorders/ggogit/web/page2.html
  src/main/java/Recorders/ggogit/web/tree/TreeController.java
  src/main/resources/db/mysql/schema.sql
  src/main/resources/db/oracle/schema.sql
  src/main/resources/mappers/leaf/LeafTagMapRepositoryMapper.xml
  src/main/resources/mappers/leaf/LeafTagRepositoryMapper.xml
  src/main/resources/mappers/tree/SeedRepositoryMapper.xml
  src/main/resources/static/css/fragments.css
  src/main/resources/static/js/pop-up.js
  src/main/resources/static/svg/next.svg
  src/main/resources/templates/component/card/card.html
  src/main/resources/templates/component/filter/filter.css
  src/main/resources/templates/component/filter/filter.html
  src/main/resources/templates/component/top-bar/top-bar.css
  src/main/resources/templates/component/top-bar/top-bar.html
  src/main/resources/templates/componentWorking/hyeonjin/index.html
  src/main/resources/templates/componentWorking/jj/tag-edit.css
  src/main/resources/templates/componentWorking/jj/tag-edit.html
  src/main/resources/templates/componentWorking/jj/top-bar.css
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/filter.html
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/tag.html
  src/main/resources/templates/fragments/top-bar.html
  src/main/resources/templates/view/book/index.html
  src/main/resources/templates/view/leaf/1st-reg-book.html
  src/main/resources/templates/view/leaf/1st-reg-etc.html
  src/main/resources/templates/view/leaf/reg-book.html
  src/main/resources/templates/view/leaf/reg-etc.html
  src/main/resources/templates/view/tag/edit.html
  src/main/resources/templates/view/tag/list.html
  src/main/resources/templates/view/temp/log/register/book.html
  src/main/resources/templates/view/temp/log/register/etc.html
  src/main/resources/templates/view/tree/book/reg.html
  src/main/resources/templates/view/tree/search/index.html
  src/main/resources/templates/view/tree/search/tree-list.html
  src/test/java/Recorders/ggogit/domain/tree/repository/SeedRepositoryTest.java
  txt/taegyu/2024-09-07.md
  txt/taegyu/2024-09-09.md
Labels: 리펙토링, DB, Data, Controller

#90 Fix/carousel rag
  src/main/java/Recorders/ggogit/web/main/MainController.java
  src/main/resources/static/css/fragments.css
  src/main/resources/static/img/home/tree-book-blank.png
  src/main/resources/static/js/home-tree-explanation.js
  src/main/resources/static/js/home-tree-index-carousel.js
  src/main/resources/static/svg/tree-book-blank.svg
  src/main/resources/templates/fragments/background.html
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/link.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/view/home/has-tree.html
Labels: bug, CSS, 레이아웃, 리펙토링, JavaScript

#91 Tag 버그 수정 완료
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  src/main/java/Recorders/ggogit/web/leaf/LeafController.java
  src/main/resources/db/oracle/Book.sql
  src/main/resources/mappers/leaf/LeafRepositoryMapper.xml
  src/main/resources/mappers/tree/TreeRepositoryMapper.xml
  src/main/resources/templates/fragments/input.html
Labels: bug, Fragment, LeafTag, Controller

#93 MySQL 스키마 수정 및 Book Leaf 생성 플로우 확인
  src/main/java/Recorders/ggogit/domain/book/entity/Book.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  src/main/java/Recorders/ggogit/domain/tree/entity/TreeSaveTmp.java
  src/main/java/Recorders/ggogit/web/tree/TreeController.java
  src/main/resources/application.yml
  src/main/resources/db/mysql/schema.sql
  src/main/resources/db/oracle/Book.sql
  src/main/resources/db/oracle/schema.sql
  src/main/resources/mappers/book/BookRepositoryMapper.xml
  src/main/resources/mappers/tree/TreeRepositoryMapper.xml
  src/main/webapp/uploads/image/book/30.jpg
  src/main/webapp/uploads/image/book/32.jpg
  src/main/webapp/uploads/image/book/34.jpg
  src/main/webapp/uploads/image/book/36.jpg
  src/main/webapp/uploads/image/book/38.jpg
  src/main/webapp/uploads/image/book/40.jpg
  src/main/webapp/uploads/image/book/44.jpg
  src/test/java/Recorders/ggogit/domain/book/repository/BookRepositoryTest.java
Labels: DB, 서비스, Service, Controller

#94 Add: Leaf 리스트 조회 및 자식 생성 구현
  src/main/java/Recorders/ggogit/api/leaf/LeafController.http
  src/main/java/Recorders/ggogit/api/leaf/LeafController.java
  src/main/java/Recorders/ggogit/api/leaf/dto/LeafItemDto.java
  src/main/java/Recorders/ggogit/api/leaf/dto/LeafTagDto.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/Leaf.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafEtcService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafEtcServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/structure/LeafTree.java
  src/main/java/Recorders/ggogit/domain/leaf/view/BeforeLeafInfoView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafBranchView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafListBranchView.java
  src/main/java/Recorders/ggogit/domain/tree/repository/TreeRepository.java
  src/main/java/Recorders/ggogit/domain/tree/service/TreeService.java
  src/main/java/Recorders/ggogit/domain/tree/service/TreeServiceImpl.java
  src/main/java/Recorders/ggogit/web/leaf/LeafController.java
  src/main/java/Recorders/ggogit/web/leaf/form/LeafBookForm.java
  src/main/java/Recorders/ggogit/web/leaf/form/LeafForm.java
  src/main/resources/mappers/leaf/LeafRepositoryMapper.xml
  src/main/resources/mappers/tree/TreeRepositoryMapper.xml
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/js/leaf-create.js
  src/main/resources/static/js/leaf-list.js
  src/main/resources/templates/fragments/log.html
  src/main/resources/templates/view/leaf/1st-reg-book.html
  src/main/resources/templates/view/leaf/1st-reg-etc.html
  src/main/resources/templates/view/leaf/edit-book.html
  src/main/resources/templates/view/leaf/edit-etc.html
  src/main/resources/templates/view/leaf/list-test.html
  src/main/resources/templates/view/leaf/list.html
  src/main/resources/templates/view/leaf/reg-book.html
  src/main/resources/templates/view/leaf/reg-etc.html
  src/main/resources/templates/view/temp/log/register/book.html
  src/main/resources/templates/view/temp/log/register/etc.html
  src/main/webapp/uploads/image/tree/197.jpg
  src/main/webapp/uploads/image/tree/199.jpg
  src/main/webapp/uploads/image/tree/200.jpg
  src/main/webapp/uploads/image/tree/201.jpg
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/service/LeafServiceImplTest.java
Labels: HTML, JavaScript, DB, Repository, Service, Controller

#95 Add: Mariadb 스키마 적용
  src/main/resources/db/mysql/schema.sql
  src/main/resources/db/oracle/schema.sql
  src/main/resources/templates/view/tag/edit.html
Labels: DB
