Repository Jomalang/ggogit, pull requests merged in 2024-10, with the labels that each got.

#96 회고록 저장 / 조회 기능 추가
  src/main/java/Recorders/ggogit/domain/memoir/service/MemoirService.java
  src/main/java/Recorders/ggogit/domain/memoir/service/MemoryMemoirServiceImpl.java
  src/main/java/Recorders/ggogit/web/main/MainController.java
  src/main/java/Recorders/ggogit/web/memoir/MemoirForm.java
  src/main/java/Recorders/ggogit/web/memoir/controller/MemoirController.java
  src/main/java/Recorders/ggogit/web/memoir/controller/MemoirFileApiController.java
  src/main/resources/errors.properties
  src/main/resources/mappers/Memoir/MemoirRepositoryMapper.xml
  src/main/resources/mappers/tree/TreeRepositoryMapper.xml
  src/main/resources/static/common/effect.css
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/js/comment-popup.js
  src/main/resources/templates/fragments/background.html
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/link.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/view/memoir/index.html
  src/main/resources/templates/view/memoir/reg.html
  src/main/resources/templates/view/memoir/test.html
  src/main/webapp/image/tmp/0c4e78b885c94df29cfed16ff50ee94b..jpg
  src/main/webapp/image/tmp/6a1dfb4d333845e785bac704a81481d5..jpg
  src/main/webapp/image/tmp/d15e6fe0fe8f4c328db8c59a3c112594..jpg
  src/main/webapp/image/tmp/f4a55823ec684eb1984927658daff96b..jpg
  src/main/webapp/image/tmp/forest1.jpg
  src/main/webapp/image/tmp/ocean.jpg
  src/main/webapp/uploads/image/book/home-left-book.png
  src/main/webapp/uploads/image/book/home-mid-book.png
  src/main/webapp/uploads/image/book/home-right-book.png
  src/main/webapp/uploads/image/book/tree-book-blank.png
  src/main/webapp/uploads/image/memoir/1.txt
  src/main/webapp/uploads/image/memoir/1cee32d132724eaf94bd781a10221778..jpg
  src/main/webapp/uploads/image/memoir/46507df1c1f041ce8d8d8018ed335acf..jpg
  src/main/webapp/uploads/image/memoir/6ab51bfd29f34c82ad9658ac41c2ddc5..jpg
  src/main/webapp/uploads/image/memoir/a99388ebab6d4bd7a88f563e2c96d6e5..jpeg
  ~/workspace/ggogit/src/main/webapp/uploads/image/d123bdad67f74b66bbf5d4b2ba591447..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/10f0e920ffa845ea82db3c6d4d0d84b4..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/92d6bdb2f4774581864d19dbdcd6984e..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/bdca68bedb594088abe1b5e9bd05274f..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/c8333b8317184e7c9e60c3af9bc24d2f..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/e325415473e049f5b613490565cc8f3e..jpg
Labels: 퍼블리싱, 리펙토링, Fragment, JavaScript, Fix, 서비스, 컨트롤러

#97 memoir, member DB 마이그레이션
  build.gradle
  src/main/resources/application.yml
  src/main/resources/db/mysql/Book.sql
  src/main/resources/db/mysql/memoir.sql
  src/main/resources/mappers/member/FollowRepositoryMapper.xml
  src/main/resources/mappers/member/MemberBackgroundImageMapper.xml
  src/main/resources/mappers/member/MemberProfileImageRepositoryMapper.xml
  src/main/resources/mappers/member/MemberRepositoryMapper.xml
  src/main/resources/mappers/memoir/MemoirCommentLikeRepositoryMapper.xml
  src/main/resources/mappers/memoir/MemoirCommentRepositoryMapper.xml
  src/main/resources/mappers/memoir/MemoirLikeRepositoryMapper.xml
  src/main/resources/mappers/memoir/MemoirRepositoryMapper.xml
  src/test/java/Recorders/ggogit/domain/member/memberTest.java
  src/test/java/Recorders/ggogit/domain/memoir/MemoirCommentLikeRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/memoir/MemoirCommentRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/memoir/MemoirLikeRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/memoir/MemoirRepositoryTest.java
Labels: DB, 레포지토리, MariaDB

#99 리프 이미지 저장 구현
  src/main/java/Recorders/ggogit/api/leaf/LeafController.java
  src/main/java/Recorders/ggogit/api/leaf/TagController.java
  src/main/java/Recorders/ggogit/domain/book/entity/Book.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/structure/LeafNode.java
  src/main/java/Recorders/ggogit/domain/tree/entity/TreeSaveTmp.java
  src/main/java/Recorders/ggogit/web/leaf/LeafController.java
  src/main/java/Recorders/ggogit/web/leaf/TagController.java
  src/main/resources/application.yml
  src/main/resources/db/mysql/schema.sql
  src/main/resources/db/oracle/book.sql
  src/main/resources/mappers/book/BookRepositoryMapper.xml
  src/main/resources/mappers/leaf/LeafRepositoryMapper.xml
  src/main/resources/mappers/leaf/LeafTagRepositoryMapper.xml
  src/main/resources/static/css/layout.css
  src/main/resources/static/js/leaf-create.js
  src/main/resources/static/js/leaf-list.js
  src/main/resources/templates/view/home/no-tree.html
  src/main/resources/templates/view/leaf/1st-reg-book.html
  src/main/resources/templates/view/leaf/1st-reg-etc.html
  src/main/resources/templates/view/leaf/list.html
  src/main/resources/templates/view/leaf/reg-book.html
  src/main/resources/templates/view/leaf/reg-etc.html
  src/main/webapp/uploads/image/book/test.jpg
  src/main/webapp/uploads/image/leaf/f58b7bd4980e460ba83db2ec11eb0a93.jpg
  src/test/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImplTest.java
  src/test/resources/DB/mariadb/test-data.sql
Labels: CSS, JavaScript, Service, Controller, MariaDB

#103 도서 이미지 경로수정
  src/main/java/Recorders/ggogit/domain/memoir/repository/MemoirRepository.java
  src/main/java/Recorders/ggogit/domain/memoir/service/MemoirService.java
  src/main/java/Recorders/ggogit/domain/memoir/service/MemoryMemoirServiceImpl.java
  src/main/java/Recorders/ggogit/domain/memoir/vIew/MemoirBookView.java
  src/main/java/Recorders/ggogit/web/memoir/controller/MemoirController.java
  src/main/java/Recorders/ggogit/web/memoir/form/MemoirForm.java
  src/main/resources/db/mysql/memoir.sql
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/js/treeListBySeed.js
  src/main/resources/templates/fragments/background.html
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/nav.html
  src/main/resources/templates/view/home/no-tree.html
  src/main/resources/templates/view/tree/book/select.html
Labels: 퍼블리싱, CSS, 레이아웃, Fragment, JavaScript

#102 Add: feature/aladin2 알라딘api로 mariaDB에 BOOK를 데이터 저장
  src/main/java/Recorders/ggogit/api/book/AladinController.java
  src/main/java/Recorders/ggogit/api/book/AladinRepository.java
  src/main/java/Recorders/ggogit/api/book/AladinService.java
  src/main/java/Recorders/ggogit/api/book/AladinServiceImpl.java
  src/main/java/Recorders/ggogit/api/book/BookDto.java
  src/main/java/Recorders/ggogit/domain/book/entity/Book.java
  src/main/java/Recorders/ggogit/domain/tree/entity/TreeSaveTmp.java
  src/main/java/Recorders/ggogit/domain/tree/view/BookTreeView.java
  src/main/resources/mappers/book/AladinRepositoryMapper.xml
  src/main/resources/templates/view/book/aladin.html
  src/main/resources/templates/view/book/comment.html
  src/test/java/Recorders/ggogit/domain/book/repository/BookRepositoryTest.java
Labels: HTML, DB, Data, Repository, Service, Controller, MariaDB

#104 Add: 도서 이미지 버그 수정 및 Book Leaf 생성 로직 이미지 추가
  src/main/java/Recorders/ggogit/api/book/AladinController.java
  src/main/java/Recorders/ggogit/api/book/AladinServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafImage.java
  src/main/java/Recorders/ggogit/domain/leaf/mapper/LeafMapper.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafImageRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/utill/ImageSaveUtill.java
  src/main/java/Recorders/ggogit/domain/tree/entity/TreeSaveTmp.java
  src/main/resources/db/mysql/schema.sql
  src/main/resources/mappers/leaf/LeafImageRepositoryMapper.xml
  src/main/resources/static/css/layout.css
  src/main/webapp/uploads/image/book/test.jpg
  src/test/java/Recorders/ggogit/domain/book/repository/BookRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImplTest.java
Labels: CSS, JavaScript, Controller, MariaDB

#107 feature/tree-book-change-reading-page
  src/main/java/Recorders/ggogit/api/leaf/LeafController.java
  src/main/java/Recorders/ggogit/api/leaf/dto/LeafItemDto.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafBook.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafBookRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafEtcServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafTagServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/structure/LeafDirectionType.java
  src/main/java/Recorders/ggogit/domain/leaf/structure/LeafTree.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafBookView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafItemView.java
  src/main/java/Recorders/ggogit/domain/tree/entity/TreeSaveTmp.java
  src/main/java/Recorders/ggogit/web/leaf/LeafController.java
  src/main/java/Recorders/ggogit/web/leaf/form/LeafBookForm.java
  src/main/resources/db/mysql/schema.sql
  src/main/resources/mappers/leaf/LeafBookRepositoryMapper.xml
  src/main/resources/mappers/tree/TreeBookRepositoryMapper.xml
  src/main/resources/mappers/tree/TreeRepositoryMapper.xml
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/js/leaf-create.js
  src/main/resources/static/js/leaf-list.js
  src/main/resources/static/svg/lock.svg
  src/main/resources/templates/view/leaf/1st-reg-etc.html
  src/main/resources/templates/view/leaf/reg-book.html
  src/main/resources/templates/view/leaf/reg-etc.html
  src/test/java/Recorders/ggogit/domain/leaf/service/LeafServiceImplTest.java
  src/test/resources/domain/leaf/repository/leaf-comment-like-repository-test.sql
  src/test/resources/domain/leaf/service/leaf-tag-test.sql
  src/test/sql/leaf-tset.sql
Labels: JavaScript, 컨트롤러, Controller

#111 Add: #110 Leaf Book 등록 버그 수정
  src/main/java/Recorders/ggogit/domain/leaf/entity/LeafBook.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  src/main/java/Recorders/ggogit/domain/tree/entity/TreeBook.java
  src/main/java/Recorders/ggogit/domain/tree/entity/TreeSaveTmp.java
  src/main/resources/mappers/leaf/LeafBookRepositoryMapper.xml
Labels: bug

#112 Add: Tree Index 페이지 branch list AJAX (정렬) 작업
  src/main/java/Recorders/ggogit/api/leaf/LeafController.java
  src/main/java/Recorders/ggogit/api/tree/TreeController.java
  src/main/java/Recorders/ggogit/domain/leaf/entity/Leaf.java
  src/main/java/Recorders/ggogit/domain/leaf/repository/LeafRepository.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafService.java
  src/main/java/Recorders/ggogit/domain/leaf/service/LeafServiceImpl.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafBookView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafBranchView.java
  src/main/java/Recorders/ggogit/domain/leaf/view/LeafEtcView.java
  src/main/java/Recorders/ggogit/domain/tree/service/TreeServiceImpl.java
  src/main/java/Recorders/ggogit/type/filterType.java
  src/main/java/Recorders/ggogit/web/main/MainController.java
  src/main/java/Recorders/ggogit/web/tree/TreeController.java
  src/main/resources/mappers/leaf/LeafRepositoryMapper.xml
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/js/filter-tab.js
  src/main/resources/static/js/leafListByfilter.js
  src/main/resources/static/js/treeListBySeed.js
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/filter.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/view/home/has-tree.html
  src/main/resources/templates/view/tree/detail.html
  src/main/resources/templates/view/tree/index.html
  src/main/webapp/uploads/image/book/a672a2940f3c46999cef4d4332e88406.ico
  src/main/webapp/uploads/image/tree/24.jpg
  src/main/webapp/uploads/image/tree/26.jpg
  src/test/java/Recorders/ggogit/domain/leaf/repository/LeafRepositoryTest.java
  src/test/java/Recorders/ggogit/domain/leaf/service/LeafServiceImplTest.java
  ~/workspace/ggogit/src/main/webapp/uploads/image/d123bdad67f74b66bbf5d4b2ba591447..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/10f0e920ffa845ea82db3c6d4d0d84b4..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/92d6bdb2f4774581864d19dbdcd6984e..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/bdca68bedb594088abe1b5e9bd05274f..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/c8333b8317184e7c9e60c3af9bc24d2f..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/e325415473e049f5b613490565cc8f3e..jpg
Labels: JavaScript, 컨트롤러, Repository, Service

#116 ggogit-115
  backend/src/main/java/Recorders/ggogit/api/leaf/LeafController.java
  backend/src/main/java/Recorders/ggogit/api/tree/TreeController.java
  backend/src/main/java/Recorders/ggogit/domain/leaf/repository/LeafRepository.java
  backend/src/main/java/Recorders/ggogit/domain/leaf/service/LeafService.java
  backend/src/main/java/Recorders/ggogit/domain/leaf/service/LeafServiceImpl.java
  backend/src/main/java/Recorders/ggogit/domain/leaf/view/LeafBranchView.java
  backend/src/main/java/Recorders/ggogit/domain/member/service/LoginService.java
  backend/src/main/java/Recorders/ggogit/domain/tree/service/TreeService.java
  backend/src/main/java/Recorders/ggogit/domain/tree/service/TreeServiceImpl.java
  backend/src/main/resources/mappers/leaf/LeafRepositoryMapper.xml
  backend/src/main/resources/static/css/fragments.css
  backend/src/main/resources/static/js/leafListByfilter.js
  backend/src/main/resources/static/svg/sort-white.svg
  backend/src/main/resources/static/svg/tree-icon--white.svg
  backend/src/test/java/Recorders/ggogit/domain/leaf/repository/LeafBookRepositoryTest.java
Labels: JavaScript, Repository, Service, Controller

#117 Add: #114 [기능] Vue 라우터 경로 설정
  .github/ISSUE_TEMPLATE/기능-이슈.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/assets/logo.svg
  frontend/src/assets/main.css
  frontend/src/components/HelloWorld.vue
  frontend/src/components/TheWelcome.vue
  frontend/src/components/WelcomeItem.vue
  frontend/src/components/icons/IconCommunity.vue
  frontend/src/components/icons/IconDocumentation.vue
  frontend/src/components/icons/IconEcosystem.vue
  frontend/src/components/icons/IconSupport.vue
  frontend/src/components/icons/IconTooling.vue
  frontend/src/main.js
  frontend/src/pages/Index.vue
  frontend/src/pages/admin/book/tmp.txt
  frontend/src/pages/admin/leaf/tmp.txt
  frontend/src/pages/admin/member/tmp.txt
  frontend/src/pages/admin/memoir/tmp.txt
  frontend/src/pages/admin/tree/tmp.txt
  frontend/src/pages/app/book/BookDetail.vue
  frontend/src/pages/app/book/BookIndex.vue
  frontend/src/pages/app/home/HomeIndex.vue
  frontend/src/pages/app/leaf/LeafDetail.vue
  frontend/src/pages/app/leaf/LeafEdit.vue
  frontend/src/pages/app/leaf/LeafFirstRegister.vue
  frontend/src/pages/app/leaf/LeafIndex.vue
  frontend/src/pages/app/leaf/LeafList.vue
  frontend/src/pages/app/leaf/LeafRegister.vue
  frontend/src/pages/app/leaf/TagEdit.vue
  frontend/src/pages/app/leaf/TagIndex.vue
  frontend/src/pages/app/leaf/TagList.vue
  frontend/src/pages/app/member/MemberIndex.vue
  frontend/src/pages/app/member/MemberJoin.vue
  frontend/src/pages/app/member/MemberJoinInput.vue
  frontend/src/pages/app/member/MemberLogin.vue
  frontend/src/pages/app/member/MemberPasswordReset.vue
  frontend/src/pages/app/memoir/MemoirEdit.vue
  frontend/src/pages/app/memoir/MemoirIndex.vue
  frontend/src/pages/app/memoir/MemoirRegister.vue
  frontend/src/pages/app/tree/SeedIndex.vue
  frontend/src/pages/app/tree/TreeBookRegister.vue
  frontend/src/pages/app/tree/TreeBookSearch.vue
  frontend/src/pages/app/tree/TreeDetail.vue
  frontend/src/pages/app/tree/TreeEtcRegister.vue
  frontend/src/pages/app/tree/TreeIndex.vue
  frontend/src/pages/app/tree/TreeList.vue
  frontend/src/pages/app/tree/TreeMemoirRegisterIndex.vue
  frontend/src/pages/app/tree/TreeSearch.vue
  frontend/src/pages/app/tree/TreeSearchResult.vue
Labels: front end, Vue

#123 Add: [기능] #119 Vue Migration 폴더 생성
  frontend/src/components/background/1.txt
  frontend/src/components/bar/1.txt
  frontend/src/components/bot-bar/1.txt
  frontend/src/components/button/1.txt
  frontend/src/components/card/1.txt
  frontend/src/components/filter/1.txt
  frontend/src/components/footer/1.txt
  frontend/src/components/header/1.txt
  frontend/src/components/input/1.txt
  frontend/src/components/link/1.txt
  frontend/src/components/log/1.txt
  frontend/src/components/nav/1.txt
  frontend/src/components/tab-comment/1.txt
  frontend/src/components/tab-filter/1.txt
  frontend/src/components/tag/1.txt
  frontend/src/components/text/1.txt
  frontend/src/components/top-bar/1.txt
Labels: JavaScript, front end

#122 Update: aladinApi translator
  src/main/java/Recorders/ggogit/api/book/AladinRepository.java
  src/main/java/Recorders/ggogit/api/book/AladinServiceImpl.java
  src/main/java/Recorders/ggogit/api/book/BookDto.java
  src/main/resources/mappers/book/AladinRepositoryMapper.xml
Labels: Fix, DB, Data, Repository, Service, MariaDB

#132 Migration/input 121
  .idea/workspace.xml
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/button/BtnShortAGreen.vue
  frontend/src/components/input/1.txt
  frontend/src/components/input/BookInputImg.vue
  frontend/src/components/input/Checkbox.vue
  frontend/src/components/input/CommentInput.vue
  frontend/src/components/input/DefaultData.vue
  frontend/src/components/input/DeleteFormBtn.vue
  frontend/src/components/input/InputBackSearch.vue
  frontend/src/components/input/InputSelectBox.vue
  frontend/src/components/input/InputTextBar.vue
  frontend/src/components/input/InputVisibility.vue
  frontend/src/components/input/PageNumber.vue
  frontend/src/components/input/TagSearchOrRegisterBar.vue
  frontend/src/components/input/TagSelect.vue
  frontend/src/components/input/TextareaBox.vue
  frontend/src/pages/Test.vue
  frontend/src/types/types.ts
  ~/workspace/ggogit/src/main/webapp/uploads/image/d123bdad67f74b66bbf5d4b2ba591447..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/10f0e920ffa845ea82db3c6d4d0d84b4..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/92d6bdb2f4774581864d19dbdcd6984e..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/bdca68bedb594088abe1b5e9bd05274f..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/c8333b8317184e7c9e60c3af9bc24d2f..jpg
  ~/workspace/ggogit/src/main/webapp/uploads/image/memoir/e325415473e049f5b613490565cc8f3e..jpg
Labels: 컴포넌트, 레이아웃, Vue

#133 [화면] Card 컴포넌트화
  backend/src/main/resources/static/svg/back-icon--white.svg
  frontend/public/svg/card-book__info-cover.svg
  frontend/public/svg/card-book__log-info-cover.svg
  frontend/public/svg/tree-icon--white.svg
  frontend/src/components/card/1.txt
  frontend/src/components/card/CardAnotherRecords.vue
  frontend/src/components/card/CardAnotherRecordsList.vue
  frontend/src/components/card/CardBookPreviews.vue
  frontend/src/components/card/CardBranchList.vue
  frontend/src/components/card/CardHiddenInfo.vue
  frontend/src/components/card/CardProgressBar.vue
  frontend/src/components/card/CardReactNumbers.vue
  frontend/src/components/card/CardTree.vue
  frontend/src/components/card/CardTreeDetails.vue
  frontend/src/components/card/CardTreeInfoCover.vue
  frontend/src/components/card/CardTreeList.vue
  frontend/src/components/card/SnsCardTree.vue
  frontend/src/components/card/SnsCardTreeList.vue
  frontend/src/components/card/TreeInfoCard.vue
  frontend/src/components/log/LogItem.vue
  frontend/src/types/Direction.ts
  frontend/src/types/types.ts
Labels: 컴포넌트, Vue

#134 Add: top-bar, tag, link 컴포넌트화 완료
  .idea/vcs.xml
  .idea/workspace.xml
  frontend/src/components/link/1.txt
  frontend/src/components/link/LInkOneImageDetail.vue
  frontend/src/components/link/SocialLogin.vue
  frontend/src/components/tag/1.txt
  frontend/src/components/tag/TagListBox.vue
  frontend/src/components/tag/TagSelectedList.vue
  frontend/src/components/top-bar/1.txt
  frontend/src/components/top-bar/TopBarBack.vue
  frontend/src/components/top-bar/TopBarClearBack.vue
  frontend/src/components/top-bar/TopBarComment.vue
  frontend/src/components/top-bar/TopBarSearchResultNum.vue
  frontend/src/components/top-bar/TopBarTagEdit.vue
  frontend/src/components/top-bar/TopBarTagInfo.vue
  frontend/src/components/top-bar/TopBarTitle.vue
  frontend/src/components/top-bar/TopBarTransparent.vue
  frontend/src/pages/Test.vue
Labels: 퍼블리싱, 컴포넌트, UI, Vue

#136 Update: Migration / tab-comment, bar, bot-bar
  backend/src/main/java/Recorders/ggogit/api/leaf/LeafController.java
  backend/src/main/java/Recorders/ggogit/domain/leaf/repository/LeafRepository.java
  backend/src/main/java/Recorders/ggogit/domain/leaf/service/LeafServiceImpl.java
  backend/src/main/resources/mappers/leaf/LeafRepositoryMapper.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/svg/card-comment-author.svg
  frontend/src/components/bar/1.txt
  frontend/src/components/bar/BarMemoirTitleBtn.vue
  frontend/src/components/bar/BarSearchResult.vue
  frontend/src/components/bar/BarUserInfo.vue
  frontend/src/components/bar/BarUserInfoFollowBtn.vue
  frontend/src/components/bar/BarUserInfoNoProfileBtn.vue
  frontend/src/components/bar/Comment.vue
  frontend/src/components/bar/LikeShare.vue
  frontend/src/components/bar/LongPath.vue
  frontend/src/components/bot-bar/1.txt
  frontend/src/components/bot-bar/BranchStateMain.vue
  frontend/src/components/bot-bar/CreateTree.vue
  frontend/src/components/tab-comment/1.txt
  frontend/src/components/tab-comment/CommentList.vue
  frontend/src/components/tab-comment/TabComment.vue
  frontend/src/pages/Test.vue
Labels: UI, Vue

#138 Add: text, nav, footer, header component migration complete
  frontend/public/img/logo/logo-sample.png
  frontend/public/svg/nav-community--active.svg
  frontend/public/svg/nav-community.svg
  frontend/src/components/footer/1.txt
  frontend/src/components/footer/Footer.vue
  frontend/src/components/header/1.txt
  frontend/src/components/header/HeaderSearchLink.vue
  frontend/src/components/nav/1.txt
  frontend/src/components/nav/NavigationBar.vue
  frontend/src/components/text/1.txt
  frontend/src/components/text/JoinGuide.vue
  frontend/src/components/text/RecentTreeEx.vue
  frontend/src/components/text/RecentTreeInfo.vue
  frontend/src/components/text/TextBookInfo.vue
  frontend/src/components/text/TextBookInfoNoTitle.vue
  frontend/src/components/text/TextInfo.vue
  frontend/src/components/text/TextJoinPageInfo.vue
  frontend/src/components/text/TextLoginPageInfo.vue
  frontend/src/components/text/TextMainTitle.vue
  frontend/src/components/text/TextMainTitleCenter.vue
  frontend/src/components/text/TextMainTitleListCount.vue
  frontend/src/components/text/TextMainTitleRight.vue
  frontend/src/components/text/TreeCount.vue
  frontend/src/main.js
  frontend/src/pages/Index.vue
  frontend/src/pages/Test.vue
Labels: 컴포넌트, Vue

#146 Add: [기능] #130 첫번쨰 도서 리프 생성
  .gitignore
  .idea/vcs.xml
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafBookController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafEtcController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafImageController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/BookLeafRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/BookLeafResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/EtcLeafRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/EtcLeafResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/entity/Book.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/entity/BookCategory.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/entity/BookComment.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/mapper/BookMapper.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/entity/Leaf.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/entity/LeafBook.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/entity/LeafComment.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/entity/LeafImage.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/entity/LeafTag.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/entity/LeafTagMap.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafBookRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/util/ImageSaveUtil.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/entity/Member.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/entity/MemberBackgroundImage.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/entity/MemberProfileImage.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/entity/Memoir.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/entity/MemoirComment.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/Seed.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/Tree.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/TreeBook.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/TreeImage.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/TreeSaveTmp.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/mapper/TreeBookMapper.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/mapper/TreeMapper.java
  backend-2/src/main/resources/application.yml
  backend-2/src/main/resources/data.sql
  backend-2/src/main/webapp/image/tmp/1.txt
  backend-2/src/main/webapp/uploads/image/book/1.txt
  backend-2/src/test/java/io/ggogit/ggogit/api/leaf/LeafBookControllerTest.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/leaf/repository/LeafBookRepositoryTest.java
Labels: API, Leaf

#150 Add: [기능] #148 LeafTag API 개발
  backend-2/http/leaf-controller.http
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafBookController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafEtcController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafImageController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafTagController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafTagListResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafTagRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafTagResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/entity/LeafTag.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafTagMapRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafTagRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafTagService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafTagServiceImpl.java
  backend-2/src/main/resources/application-dev.yml
  backend-2/src/main/resources/application-prod.yml
  backend-2/src/main/resources/application-test.yml
  backend-2/src/main/resources/data.sql
  backend-2/src/test/java/io/ggogit/ggogit/api/leaf/LeafTagControllerTest.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/leaf/repository/LeafTagRepositoryTest.java
Labels: LeafTag, API

#151 Add: [기능] #145 memoir-service 구현
  .idea/misc.xml
  .idea/workspace.xml
  backend-2/build.gradle
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/entity/Memoir.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/entity/MemoirComment.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/service/MemoirService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/service/MemoirServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/Tree.java
  backend-2/src/main/resources/application-test.yml
  backend-2/src/main/resources/data.sql
  backend-2/src/main/webapp/uploads/image/memoir/1.txt
  backend-2/src/main/webapp/uploads/image/memoir/ocean.jpg
  backend-2/src/test/java/io/ggogit/ggogit/domain/memoir/service/MemoirServiceImplTest.java
  frontend/.vite/deps_temp_39362fff/package.json
Labels: JPA

#152 Add: [기능] #143 Book API 개발 (수정, API, detail 조회)
  backend-2/api/lookup-api-0.json
  backend-2/api/lookup-api-1.json
  backend-2/api/search-api.json
  backend-2/src/main/java/io/ggogit/ggogit/api/book/AladinController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/BookController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/AladinApiSearchResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/BookDetailResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/BookRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/BookResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/api/AladinClient.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/api/dto/AladinLookUpResultDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/api/dto/AladinSearchResultDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/api/dto/ApiBookDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/api/dto/ApiLookSubInfoDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/api/dto/ApiLookUpDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/entity/Book.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/repository/BookRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/AladinService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/AladinServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookServiceImpl.java
  backend-2/src/main/resources/application-dev.yml
  backend-2/src/main/resources/application-prod.yml
  backend-2/src/main/resources/application-test.yml
  backend-2/src/main/resources/data.sql
  backend-2/src/test/java/io/ggogit/ggogit/api/book/AladinControllerTest.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/book/api/AladinClientTest.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/book/api/dto/AladinLookUpResultDtoTest.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/book/api/dto/AladinSearchResultDtoTest.java
  backend/src/main/java/Recorders/ggogit/api/book/AladinServiceImpl.java
Labels: API, book

#153 [기능] Add #145 회고록 API 구현
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/BookRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/exception/GlobalExceptionHandler.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/MemoirController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirDto.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/session/SessionConst.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/entity/Memoir.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/entity/MemoirComment.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/service/MemoirService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/service/MemoirServiceImpl.java
  backend-2/src/main/resources/application-test.yml
  backend-2/src/main/resources/data.sql
Labels: 리펙토링, API

#156 Add: [기능] `ImageRepository` 구현 완료
  backend-2/src/main/java/io/ggogit/ggogit/domain/image/ImageRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/type/UploadFolderType.java
  backend-2/src/main/resources/application-dev.yml
  backend-2/src/main/resources/application-prod.yml
  backend-2/src/main/resources/application-test.yml
  backend-2/src/test/java/io/ggogit/ggogit/domain/image/ImageRepositoryTest.java
Labels: Repository, Image

#157 Add; [빌드] Jenkins CI/CD 파이프 라인 적용
  backend-2/Dockerfile
  backend-2/src/main/java/io/ggogit/ggogit/api/TestController.java
  backend-2/src/test/java/io/ggogit/ggogit/api/book/AladinControllerTest.java
  backend-2/src/test/java/io/ggogit/ggogit/api/leaf/LeafBookControllerTest.java
  backend-2/src/test/java/io/ggogit/ggogit/api/leaf/LeafEtcControllerTest.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/image/ImageRepositoryTest.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/leaf/repository/LeafBookRepositoryTest.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/memoir/service/MemoirServiceImplTest.java
  docker-compose.yml
  frontend/Dockerfile
Labels: CI, CD, 배포

#168 Add: [화면] #165 `Tree` Vue 화면 합치는 작업
  frontend/src/components/input/BookInputImg.vue
  frontend/src/components/input/TagSearchOrRegisterBar.vue
  frontend/src/components/input/TextNumberBox.vue
  frontend/src/components/top-bar/TopBarTagInfo.vue
  frontend/src/main.js
  frontend/src/pages/app/book/BookCategoryList.vue
  frontend/src/pages/app/book/BookIndex.vue
  frontend/src/pages/app/leaf/TagEdit.vue
  frontend/src/pages/app/leaf/TagList.vue
  frontend/src/pages/app/tree/SeedIndex.vue
  frontend/src/pages/app/tree/TreeBookAutoRegister.vue
  frontend/src/pages/app/tree/TreeBookRegister.vue
  frontend/src/pages/app/tree/TreeEtcRegister.vue
  frontend/src/pages/app/tree/TreeIndex.vue
  frontend/src/types/types.ts
Labels: 레이아웃, UI, Vue

#174 [기능]#141 Tree API 개발
  backend-2/http/tree-controller.http
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/BookInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafBranchResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeCardRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/entity/Book.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafDtoServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/entity/Member.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/Tree.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/TreeRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/type/FilterType.java
  backend-2/src/main/resources/application-dev.yml
  frontend/src/main.js
  frontend/src/pages/app/tree/TreeDetail.vue
Labels: API, tree

#175 Add: [화면] #169 Tree 생성 Input 박스 적용 완료
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/SeedController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/SeedResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/config/CorsConfig.java
  backend-2/src/main/resources/data.sql
  frontend/src/components/button/FilterFullWidth.vue
  frontend/src/components/input/BookCategorySelect.vue
  frontend/src/components/input/BookInputImg.vue
  frontend/src/components/input/InputVisibility.vue
  frontend/src/components/input/TextBox.vue
  frontend/src/components/input/TextNumberBox.vue
  frontend/src/components/input/TextareaBox.vue
  frontend/src/components/tab-filter/FilterTabGet.vue
  frontend/src/components/tag/TagListBox.vue
  frontend/src/components/top-bar/TopBarBack.vue
  frontend/src/pages/app/book/BookCategoryList.vue
  frontend/src/pages/app/tree/SeedIndex.vue
  frontend/src/pages/app/tree/TreeBookRegister.vue
  frontend/src/pages/app/tree/TreeEtcRegister.vue
  frontend/src/types/types.ts
Labels: UI, tree

#178 Add: [추가] 도서 레포지 토리 추가 커밋
  backend-2/http/tree-controller.http
  backend-2/src/main/java/io/ggogit/ggogit/api/book/BookCategoryController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/BookController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/BookCategoryResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeTmpRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/config/CorsConfig.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/repository/BookCategoryRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookCategoryService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookCategoryServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/image/repository/ImageRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/TreeTmp.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeTmpService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeTmpServiceImpl.java
  frontend/src/components/input/BookCategorySelect.vue
  frontend/src/components/input/BookInputImg.vue
  frontend/src/components/input/InputVisibility.vue
  frontend/src/components/input/TextNumberBox.vue
  frontend/src/components/input/TextareaBox.vue
  frontend/src/components/tag/BookCategoryListBox.vue
  frontend/src/pages/app/book/BookCategoryList.vue
  frontend/src/pages/app/leaf/LeafBookFirstRegister.vue
  frontend/src/pages/app/leaf/LeafEtcFirstRegister.vue
  frontend/src/pages/app/tree/TreeBookRegister.vue
  frontend/src/types/types.ts
Labels: API, book, tree

#187 Add: [추가] 맴버 API member
  backend-2/build.gradle
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/MemberController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/member/dto/MemberPasswordResetDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberServiceImpl.java
  backend/src/main/java/Recorders/ggogit/api/book/AladinServiceImpl.java
  backend/src/main/java/Recorders/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  backend/src/main/java/Recorders/ggogit/domain/tree/entity/TreeSaveTmp.java
  backend/src/main/java/Recorders/ggogit/web/tree/TreeController.java
  backend/src/main/resources/templates/view/member/join-resset.html
  frontend/package-lock.json
  frontend/src/pages/app/member/MemberPasswordReset.vue
Labels: API, member

#188 [기능] #172 Tree Vue 개발 Nuxt 개발을 위한 중간 PR
  backend-2/http/tree-controller.http
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafItemResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafDtoService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafDtoServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/TreeRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeServiceImpl.java
  backend-2/src/main/resources/application.yml
  frontend/src/components/card/CardHiddenInfo.vue
  frontend/src/components/card/CardProgressBar.vue
  frontend/src/main.js
  frontend/src/pages/app/home/HomeIndex.vue
  frontend/src/pages/app/tree/TreeDetail.vue
Labels: Vue, API, tree

#191 memoir,book,home nuxt 폴더 구조 적용
  frontend-2/app.vue
  frontend-2/components/footer/Footer.vue
  frontend-2/layouts/1.txt
  frontend-2/pages/Index.vue
  frontend-2/pages/book/[id]/category.vue
  frontend-2/pages/book/[id]/index.vue
  frontend-2/pages/book/index.vue
  frontend-2/pages/home/empty.vue
  frontend-2/pages/home/index.vue
  frontend-2/pages/memoir/[id]/edit.vue
  frontend-2/pages/memoir/[id]/index.vue
  frontend-2/pages/memoir/[id]/reg.vue
  frontend-2/pages/memoir/index.vue
  frontend-2/public/css/common/effect.css
  frontend-2/public/css/common/reset.css
  frontend-2/public/css/common/text.css
  frontend-2/public/css/common/variables.css
  frontend-2/public/css/layout.css
  frontend-2/public/css/reset.css
Labels: Nuxt

#192 [구성 변경] Nuxt 경로 변경 (Tree)
  frontend-2/package-lock.json
  frontend-2/pages/app/trees/TreeList.vue
  frontend-2/pages/app/trees/TreeSearch.vue
  frontend-2/pages/app/trees/TreeSearchResult.vue
  frontend-2/pages/app/trees/[id]/index.vue
  frontend-2/pages/app/trees/[id]/treeMemoirRegisterIndex.vue
  frontend-2/pages/app/trees/index.vue
  frontend-2/pages/app/trees/reg/book/treeBookAutoRegister.vue
  frontend-2/pages/app/trees/reg/book/treeBookRegister.vue
  frontend-2/pages/app/trees/reg/book/treeBookSearch.vue
  frontend-2/pages/app/trees/reg/etc/treeEtcRegister.vue
  frontend-2/pages/app/trees/reg/index.vue
Labels: 리펙토링, Vue, Nuxt

#193 Add: [설정] #184 QueryDSL 조회 확인
  backend-2/build.gradle
  backend-2/http/leaf-controller.http
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafDetailResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/MemberController.java
  backend-2/src/main/java/io/ggogit/ggogit/config/CorsConfig.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafQueryDslRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafQueryDslRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafDtoService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafDtoServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberServiceImpl.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/leaf/repository/LeafQueryDslRepositoryImplTest.java
Labels: JPA, API, QueryDSL

#200 [리팩토링] book 검색 쿼리 querydsl 시험적용
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/repository/BookRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/repository/query/BookQueryRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/repository/query/BookQueryRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/repository/query/MemoirQueryRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/repository/query/MemoirQueryRepositoryImpl.java
Labels: 리펙토링, 레포지토리, Repository, QueryDSL

#202 Add: #201 Leaf 조회 API 부분
  backend-2/http/leaf-controller.http
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafBeforeNodeInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafBookCardResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafBookDetailResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafBookEditDetailResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafBreadcrumbResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafCardResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafEtcDetailResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafEtcEditDetailResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafQueryDslRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafQueryDslRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafDtoService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafDtoServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/TreeRepository.java
  backend-2/src/main/resources/data.sql
  backend-2/src/test/java/io/ggogit/ggogit/domain/leaf/repository/LeafQueryDslRepositoryImplTest.java
Labels: Data, Controller, API

#205 Refac: #204 `TextMainTitle` 컴포넌트 리펙토링
  frontend-2/components/background/BgTreeBookCovers.vue
  frontend-2/components/background/BookDetail.vue
  frontend-2/components/background/UserInfoBackHeaderMemoirTitle.vue
  frontend-2/components/bar/BarUserInfo.vue
  frontend-2/components/card/CardHiddenInfo.vue
  frontend-2/components/text/TextMainTitle.vue
  frontend-2/pages/book/[id]/index.vue
  frontend-2/pages/home/empty.vue
  frontend-2/pages/home/index.vue
  frontend-2/pages/leaf/[id]/index.vue
  frontend-2/pages/leaf/index.vue
  frontend-2/pages/memoir/[id]/edit.vue
  frontend-2/pages/memoir/[id]/index.vue
  frontend-2/pages/memoir/[id]/reg.vue
  frontend-2/pages/tree/[id]/index.vue
  frontend-2/pages/tree/book/auto/new.vue
  frontend-2/pages/tree/book/new.vue
  frontend-2/pages/tree/etc/new.vue
  frontend-2/types/types.ts
Labels: UI, 리펙토링

#206 [기능] Add: Tree Detail Nuxt 페이지 퍼블리싱 및 데이터 바인딩 완료
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeDetailResponse.java
  frontend-2/app.vue
  frontend-2/components/card/CardBranchList.vue
  frontend-2/components/card/CardHiddenInfo.vue
  frontend-2/components/card/CardProgressBar.vue
  frontend-2/components/card/CardReactNumbers.vue
  frontend-2/components/card/CardTreeInfoCover.vue
  frontend-2/components/filter/FilterTreeLeafCard.vue
  frontend-2/components/input/InputBackSearch.vue
  frontend-2/components/nav/NavigationBar.vue
  frontend-2/components/text/TextBookInfo.vue
  frontend-2/nuxt.config.ts
  frontend-2/pages/tree/[id]/index.vue
Labels: JavaScript, FrontEnd, Nuxt

#207 [기능] #203 회고록 조회 중간 병합
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/MemoirController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/MemoirImageController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/image/repository/ImageRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/service/MemoirServiceImpl.java
  backend-2/src/main/resources/application-test.yml
  backend-2/src/main/resources/application.yml
  backend-2/src/main/resources/static/uploads/tmp/fce2452aac2443d08ce2e5e02459b317.7
  backend-2/src/main/webapp/image/tmp/1.txt
  backend-2/src/main/webapp/uploads/image/book/1.txt
  backend-2/src/main/webapp/uploads/image/memoir/1.txt
  backend-2/src/main/webapp/uploads/image/memoir/ocean.jpg
  backend-2/src/main/webapp/uploads/image/tree/1.txt
  frontend-2/components/text/TextBookInfo.vue
  frontend-2/layouts/1.txt
  frontend-2/nuxt.config.ts
  frontend-2/pages/Index.vue
  frontend-2/pages/home/index.vue
  frontend-2/pages/memoir/[id]/edit.vue
  frontend-2/pages/memoir/[id]/index.vue
  frontend-2/pages/memoir/[id]/reg.vue
Labels: 컴포넌트, 레이아웃, API, Nuxt, backEnd

#210 [기능] #203 회고록 수정, 삭제 구현
  backend-2/src/main/java/io/ggogit/ggogit/api/member/dto/MemberInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/MemoirController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/MemoirImageController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeLightInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/image/repository/ImageRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/service/MemoirServiceImpl.java
  backend-2/src/main/webapp/image/tmp/firstTest.png
  backend-2/src/main/webapp/uploads/memoir/bc5eaf6f0bfe4f1289c96b6060dde398..jpg
  backend-2/src/main/webapp/uploads/tmp/85ca6eb0a7e447c7876c17faa55391ef..jpg
  frontend-2/app.vue
  frontend-2/components/background/UserInfoBackHeaderMemoirTitle.vue
  frontend-2/components/bar/BarMemoirTitleBtn.vue
  frontend-2/components/bar/BarUserInfoFollowBtn.vue
  frontend-2/components/text/TextMainTitle.vue
  frontend-2/components/top-bar/TopBarTransparent.vue
  frontend-2/pages/memoir/[id]/edit.vue
  frontend-2/pages/memoir/[id]/index.vue
  frontend-2/pages/memoir/[id]/reg.vue
  frontend-2/pages/tree/book/search.vue
  frontend-2/public/svg/delete.svg
Labels: 컴포넌트, 리펙토링, API, Nuxt, backEnd

#211 [기능] 회원 정보 조회 구현
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/MemberController.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/repository/MemberRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberServiceImpl.java
  frontend-2/components/button/LoginJoinPageBackBtn.vue
  frontend-2/pages/index.vue
  frontend-2/pages/member/email-send.vue
  frontend-2/pages/member/login.vue
  frontend-2/pages/member/new.vue
  frontend-2/pages/member/password-reset.vue
  frontend-2/pages/test.vue
Labels: Repository, Service, Controller, API, member, backEnd
