Repository Jomalang/ggogit, pull requests merged in 2024-11, with the labels that each got.

#217 [수정] 트리 엔티티 연관관계 수정
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/BookTreeResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeInfoResponseHome.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/aop/AuthorizationAspect.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/Tree.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/TreeRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeServiceImpl.java
  frontend-2/components/button/BtnShortAGreen.vue
  frontend-2/pages/home/index.vue
Labels: 리펙토링, ERD, DB, 설계, Data, backEnd

#219 Add: #209 [수정] 트리, 리프 생성 로직 완료
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafEtcController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafImageController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/EtcLeafRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/SeedController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeTmpController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/SeedDetailResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeTmpRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/image/repository/ImageRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafEtcService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafEtcServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/TreeTmp.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/SeedService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/SeedServiceImpl.java
  frontend-2/nuxt.config.ts
  frontend-2/pages/leaf/etc/new.vue
  frontend-2/pages/tree/book/new.vue
  frontend-2/pages/tree/etc/new.vue
  frontend-2/pages/tree/etc/seed/[id]/new.vue
Labels: HTML, JavaScript, Data, Controller, FrontEnd, API, book, backEnd

#221 [기능] Tree Detail 페이지 생성 완료
  backend-2/src/main/java/io/ggogit/ggogit/api/book/BookController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/BookInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/BookTreeResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeCardRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeCardResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/repository/BookRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/Tree.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeServiceImpl.java
  backend-2/src/main/resources/data.sql
  frontend-2/components/bar/BarUserInfoFollowBtn.vue
  frontend-2/components/button/LinkFullWidth.vue
  frontend-2/components/card/CardBranchList.vue
  frontend-2/components/card/CardHiddenInfo.vue
  frontend-2/components/card/CardTreeInfoCover.vue
  frontend-2/components/input/InputSearchWithBackBtn.vue
  frontend-2/components/text/TextBookInfo.vue
  frontend-2/pages/memoir/[id]/reg.vue
  frontend-2/pages/tree/[id]/index.vue
Labels: JavaScript, FrontEnd, API, Nuxt, backEnd

#222 [기능] #213 홈 화면 구현 완료
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeInfoResponseHome.java
  backend-2/src/main/java/io/ggogit/ggogit/config/ModelMapperConfig.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/entity/Leaf.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/Tree.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeServiceImpl.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/tree/repository/TreeQueryRepositoryTest.java
  backend-2/src/test/java/io/ggogit/ggogit/domain/tree/repository/TreeServiceTest.java
  frontend-2/components/background/BgTreeBookCovers.vue
  frontend-2/components/button/BtnShortGreen.vue
  frontend-2/components/card/CardProgressBar.vue
  frontend-2/components/card/CardReactNumbers.vue
  frontend-2/components/card/CardTreeDetails.vue
  frontend-2/components/filter/FilterTreeList.vue
  frontend-2/components/header/HeaderSearchLink.vue
  frontend-2/components/text/RecentTreeInfo.vue
  frontend-2/pages/home/index.vue
  frontend-2/pages/memoir/[id]/edit.vue
Labels: 퍼블리싱, 리펙토링, Fragment, JavaScript, Vue, API, Nuxt, backEnd

#223 [기능] #143 도서 검색 무한 스크롤 구현
  backend-2/src/main/java/io/ggogit/ggogit/api/book/BookController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/BookListResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/repository/query/BookQueryRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/repository/query/BookQueryRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookServiceImpl.java
  backend-2/src/main/resources/data.sql
  frontend-2/components/card/CardBookPreviews.vue
  frontend-2/components/card/CardBranchList.vue
  frontend-2/components/input/InputBackSearch.vue
  frontend-2/pages/tree/book/search.vue
Labels: 컴포넌트, UI, Data, API, book, Nuxt

#226 [기능] Tree Detail 페이지 완성 후 병합 요청
  frontend-2/components/card/CardBranchList.vue
  frontend-2/components/card/CardHiddenInfo.vue
  frontend-2/components/card/CardTreeInfoCover.vue
  frontend-2/components/text/TextMainTitleListCount.vue
  frontend-2/pages/tree/[id]/index.vue
Labels: JavaScript, FrontEnd, API, Nuxt, backEnd

#228 [기능] #216 회원 조회 기능 구현
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/MemberController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/member/dto/MemberRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/member/dto/MemberResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/repository/MemberRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberServiceImpl.java
  frontend-2/pages/member/new.vue
  frontend-2/pages/member/password-reset.vue
Labels: Repository, Service, Controller, member, backEnd

#232 [기능] #181 회고록 조회 카드 구현
  backend-2/src/main/java/io/ggogit/ggogit/api/image/ImageController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafBookCardResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/MemoirController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirCardDtoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirCardDtoResponseList.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeCardResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeCardResponseList.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/image/service/ImageService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/service/MemoirDtoService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/service/MemoirDtoServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeServiceImpl.java
  backend-2/src/main/resources/data.sql
  backend-2/src/main/webapp/uploads/book/1.txt
  backend-2/src/main/webapp/uploads/leaf/1.txt
  backend-2/src/main/webapp/uploads/leaf/book-example.png
  backend-2/src/main/webapp/uploads/member/1.txt
  backend-2/src/main/webapp/uploads/member/book-example.png
  backend-2/src/main/webapp/uploads/memoir/book-example.png
  backend-2/src/main/webapp/uploads/memoir/fbd169d32b7c4c4fb87cecaaf807c3bf..jpg
  backend-2/src/main/webapp/uploads/tree/1.txt
  backend-2/src/main/webapp/uploads/tree/book-example.png
  frontend-2/components/background/UserInfoBackHeaderMemoirTitle.vue
  frontend-2/components/bar/BarUserInfoFollowBtn.vue
  frontend-2/components/card/CardAnotherRecords.vue
  frontend-2/components/card/CardAnotherRecordsList.vue
  frontend-2/components/card/CardBookPreviews.vue
  frontend-2/components/tab-comment/CommentList.vue
  frontend-2/components/tab-comment/TabComment.vue
  frontend-2/components/text/TextBookInfo.vue
  frontend-2/components/top-bar/TopBarBack.vue
  frontend-2/components/top-bar/TopBarTransparent.vue
  frontend-2/composables/useGoBack.js
  frontend-2/pages/home/index.vue
  frontend-2/pages/memoir/[id]/edit.vue
  frontend-2/pages/memoir/[id]/index.vue
  frontend-2/pages/memoir/[id]/reg.vue
  frontend-2/public/css/layout.css
  frontend-2/types/types.ts
Labels: 컴포넌트, 레포지토리, Service, Vue, API, tree, backEnd

#236 Add: #235 홈페이지 제작
  frontend-2/pages/index.css
  frontend-2/pages/index.vue
  frontend-2/pages/index2.css
  frontend-2/public/png/1.png
  frontend-2/public/png/2.png
  frontend-2/public/png/3.png
  frontend-2/public/png/4.png
  frontend-2/public/png/5.png
  frontend-2/public/png/6.png
  frontend-2/public/png/7_1.png
  frontend-2/public/png/8.png
  frontend-2/public/png/9.png
  frontend-2/public/svg/home-down-arrow.svg
  frontend-2/public/webp/bg.webp
Labels: API, backEnd

#240 Add: [수정] 리프 디테일 도서 자세히 보기 연동
  backend-2/src/main/java/io/ggogit/ggogit/api/book/BookController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/BookDetailResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/book/dto/BookListResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/MemberController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/api/AladinClient.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/entity/Book.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/repository/BookRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/AladinServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/service/BookServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/service/LeafBookServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/type/AladinBookSearchType.java
  backend-2/src/main/resources/data.sql
  backend-2/src/test/java/io/ggogit/ggogit/domain/book/api/AladinClientTest.java
  frontend-2/components/card/CardBookPreviews.vue
  frontend-2/components/input/InputBackSearch.vue
  frontend-2/components/text/TextBookInfo.vue
  frontend-2/pages/home/index.vue
  frontend-2/pages/index.vue
  frontend-2/pages/leaf/book/new.vue
  frontend-2/pages/tree/book/auto/[id]/new.vue
  frontend-2/pages/tree/book/new.vue
  frontend-2/pages/tree/book/search.vue
  frontend-2/public/css/layout.css
Labels: LeafTag, API, Leaf

#244 [수정] Fix : Tree search / Leaf search 디자인 변경 및 트리 로고 변경
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  frontend-2/components/card/CardBookPreviews.vue
  frontend-2/components/card/CardBranchList.vue
  frontend-2/components/card/CardLeafPreviews.vue
  frontend-2/components/card/CardTree.vue
  frontend-2/components/card/CardTreeDetails.vue
  frontend-2/components/card/CardTreeInfoCover.vue
  frontend-2/components/card/CardTreePreviews.vue
  frontend-2/components/card/SnsCardTree.vue
  frontend-2/components/filter/FilterTreeLeafCard.vue
  frontend-2/components/input/InputBackSearchLeaf.vue
  frontend-2/components/input/InputBackSearchTree.vue
  frontend-2/components/top-bar/TopBarSearchResultNumAndFilter.vue
  frontend-2/pages/leaf/search.vue
  frontend-2/pages/tree/[id]/index.vue
  frontend-2/pages/tree/search.vue
  frontend-2/public/png/tree-icon-white.png
Labels: FrontEnd, API, Nuxt, backEnd

#245 [기능] #241 프론트 구글 로그인, 상태 유지 구현
  backend-2/src/main/java/io/ggogit/ggogit/util/JwtTokenProvider.java
  backend-2/src/main/resources/data.sql
  frontend-2/components/link/SocialLogin.vue
  frontend-2/composables/useMemberDetail.js
  frontend-2/middleware/auth.global.js
  frontend-2/nuxt.config.ts
  frontend-2/package-lock.json
  frontend-2/package.json
  frontend-2/pages/member/login.vue
  frontend-2/plugins/auth-reload.js
  frontend-2/plugins/google-login.client.js
Labels: Vue, API, Nuxt, backEnd

#251 [기능] #247 어플리케이션 전체 width조정 및 캐러셀 재구현
  frontend-2/app.vue
  frontend-2/components/background/BgTreeBookCovers.vue
  frontend-2/components/card/CardTree.vue
  frontend-2/components/card/SnsCardTree.vue
  frontend-2/components/nav/NavigationBar.vue
  frontend-2/package-lock.json
  frontend-2/package.json
  frontend-2/pages/home/index.vue
  frontend-2/public/css/common/variables.css
  frontend-2/public/css/layout.css
  frontend-2/public/logo/logo-sample.png
Labels: 퍼블리싱, UI, JavaScript, Vue, Nuxt

#249 Feature/leaf detail 237
  backend-2/backup.sql
  backend-2/http/member-controller.http
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/api/AladinClient.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/entity/BookCategory.java
  backend-2/src/main/resources/data.sql
  backend-2/src/main/resources/data_V1.sql
  backend-2/src/main/webapp/image/tmp/firstTest.png
  backend-2/src/main/webapp/uploads/book/book-example.png
  backend-2/src/main/webapp/uploads/book/book-example2.png
  backend-2/src/main/webapp/uploads/leaf/book-example2.png
  backend-2/src/main/webapp/uploads/member/book-example2.png
  backend-2/src/main/webapp/uploads/memoir/bc5eaf6f0bfe4f1289c96b6060dde398..jpg
  backend-2/src/main/webapp/uploads/memoir/book-example2.png
  backend-2/src/main/webapp/uploads/memoir/fbd169d32b7c4c4fb87cecaaf807c3bf..jpg
  backend-2/src/main/webapp/uploads/tmp/85ca6eb0a7e447c7876c17faa55391ef..jpg
  backend-2/src/main/webapp/uploads/tree/10c6321159fc44d789a294b6a50651f4.jpg
  backend-2/src/main/webapp/uploads/tree/49b3f6c49b7246aca618c4234d63cd34.jpg
  backend-2/src/main/webapp/uploads/tree/4b94933f2e624d1b9316e44a5c13ae2b.jpg
  backend-2/src/main/webapp/uploads/tree/6d6223a3d93c4313b0759272d5e4db23.jpg
  backend-2/src/main/webapp/uploads/tree/8db97bdb8ac04ad392d12c0d37c90d13.jpg
  backend-2/src/main/webapp/uploads/tree/9cb78d1d57da4b629e8463a7365a28b5.jpg
  backend-2/src/main/webapp/uploads/tree/9fb0f3839d1247e280c9b3f4b1cc5e52.jpg
  backend-2/src/main/webapp/uploads/tree/book-example.png
  backend-2/src/main/webapp/uploads/tree/book-example2.png
  backend-2/src/main/webapp/uploads/tree/c5d4e9f05ea540c98b747034236b7d61.jpg
  backend-2/src/main/webapp/uploads/tree/d3b3fd1a3e76496d9e1e2b0f10bc29de.jpg
  backend-2/src/main/webapp/uploads/tree/f47ac10b58cc4372a5670e02b2c3d479.jpg
  backend-2/src/test/java/io/ggogit/ggogit/aladin/category/CategoryCSVTest.java
  backend-2/src/test/resources/aladin_category_CID_20210927.csv
  frontend-2/composables/Node.js
  frontend-2/composables/Tree.js
  frontend-2/pages/leaf/book/[id]/index.vue
  frontend-2/pages/leaf/etc/[id]/index.vue
  frontend-2/pages/leaf/index.vue
Labels: HTML, Fragment, JavaScript, FrontEnd, backEnd

#254 [기능] 구글 OAuth2 연동 완료
  backend-2/http/member-controller.http
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/AuthController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/member/dto/IsMemberRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/repository/query/BookQueryRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafQueryDslRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/AuthService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/AuthServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/util/JwtTokenProvider.java
  frontend-2/components/link/SocialLogin.vue
  frontend-2/composables/useMemberDetail.js
  frontend-2/composables/useMemberJoinTmp.js
  frontend-2/nuxt.config.ts
  frontend-2/package-lock.json
  frontend-2/package.json
  frontend-2/plugins/google-login.client.js
  frontend-2/vue.config.js
Labels: FrontEnd, API, Nuxt

#257 [화면] #247 랜딩 페이지, 홈 페이지 수정
  frontend-2/app.vue
  frontend-2/components/bar/BarSearchResult.vue
  frontend-2/components/card/CardHiddenInfo.vue
  frontend-2/components/card/CardTreeDetails.vue
  frontend-2/components/card/CardTreeInfoCover.vue
  frontend-2/components/filter/FilterTreeLeafCard.vue
  frontend-2/components/nav/NavigationBar.vue
  frontend-2/components/text/RecentTreeInfo.vue
  frontend-2/components/text/TextBookInfoNoTitle.vue
  frontend-2/pages/home/index.vue
  frontend-2/pages/index.vue
  frontend-2/pages/tree/[id]/index.vue
  frontend-2/public/css/layout.css
Labels: 퍼블리싱, 레이아웃, UI, Vue

#260 [기능] #258 로컬 로그인 구현
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/util/JwtTokenProvider.java
  frontend-2/composables/useAuthDataFetch.js
  frontend-2/composables/useAuthFetch.js
  frontend-2/composables/useMemberDetail.js
  frontend-2/middleware/auth.global.js
  frontend-2/pages/home/index.vue
  frontend-2/pages/member/login.vue
Labels: UI, Vue, API, Nuxt, backEnd

#261 Add: #253 [기능] OAuth 회원가입 추가 데이터 입력
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/MemberController.java
  frontend-2/pages/emailSend.vue
  frontend-2/pages/member/oauth/new.vue
  frontend-2/pages/test.vue
Labels: Controller, API, backEnd

#265 [추가] 기본 데이터 생성
  backend-2/backup.sql
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/api/AladinClient.java
  backend-2/src/main/resources/data.sql
  backend-2/src/main/webapp/uploads/tree/1d552674be60454483de59c1b5970f28.jpg
  backend-2/src/main/webapp/uploads/tree/525a19c2b6fe4ae7aa9827ffeddfe65e.jpg
  backend-2/src/main/webapp/uploads/tree/672b74d7ddf947a6b02c3ce819461af7.jpg
  backend-2/src/main/webapp/uploads/tree/730f020c3bd143a29538a55eccd674cf.jpg
  backend-2/src/main/webapp/uploads/tree/773509c88eef4f99b2c966317e03f0a0.jpg
  backend-2/src/main/webapp/uploads/tree/9e17c9520c3f4d9dae5a6c083034fa04.jpg
  backend-2/src/main/webapp/uploads/tree/adac22b8d3d8487fa84d9ec31e93af2d.jpg
  backend-2/src/main/webapp/uploads/tree/bf67cec157544b198562227806ee3642.jpg
  backend-2/src/main/webapp/uploads/tree/c126c71f9d0649fd90850d16a453dd82.jpg
  backend-2/src/main/webapp/uploads/tree/c9916667b48c444a9f16fa2fe03f67eb.jpg
  backend-2/src/main/webapp/uploads/tree/cc81822e0f1149838daeab2321411868.jpg
  backend-2/src/main/webapp/uploads/tree/f47341ff12434b7dae7f70ed6041d187.jpg
  frontend-2/components/nav/NavigationBar.vue
  frontend-2/package-lock.json
  frontend-2/public/favicon.ico
Labels: Data, backEnd

#266 [기능] #258 Fetch 교체, 상태유지, 로그아웃 구현
  frontend-2/components/card/CardAnotherRecords.vue
  frontend-2/components/footer/Footer.vue
  frontend-2/components/input/InputBackSearch.vue
  frontend-2/components/input/InputBackSearchLeaf.vue
  frontend-2/components/input/InputBackSearchTree.vue
  frontend-2/components/input/InputSearchWithBackBtn.vue
  frontend-2/components/link/SocialLogin.vue
  frontend-2/components/top-bar/TopBarTransparent.vue
  frontend-2/composables/useAuthDataFetch.js
  frontend-2/composables/useAuthFetch.js
  frontend-2/middleware/auth.global.js
  frontend-2/pages/book/[id]/index.vue
  frontend-2/pages/home/index.vue
  frontend-2/pages/leaf/book/[id]/edit.vue
  frontend-2/pages/leaf/book/[id]/index.vue
  frontend-2/pages/leaf/book/[id]/new.vue
  frontend-2/pages/leaf/etc/[id]/edit.vue
  frontend-2/pages/leaf/etc/[id]/index.vue
  frontend-2/pages/leaf/etc/[id]/new.vue
  frontend-2/pages/leaf/index.vue
  frontend-2/pages/member/find/email.vue
  frontend-2/pages/member/join/email.vue
  frontend-2/pages/member/login.vue
  frontend-2/pages/member/new.vue
  frontend-2/pages/member/oauth/new.vue
  frontend-2/pages/member/password-reset.vue
  frontend-2/pages/memoir/[id]/edit.vue
  frontend-2/pages/memoir/[id]/index.vue
  frontend-2/pages/memoir/[id]/reg.vue
  frontend-2/pages/tree/[id]/index.vue
  frontend-2/pages/tree/book/auto/[id]/new.vue
  frontend-2/pages/tree/etc/seed/[id]/new.vue
  frontend-2/plugins/auth-reload.client.js
  frontend-2/plugins/auth-reload.js
  frontend-2/stores/useMemberStore.js
Labels: 퍼블리싱, 컴포넌트, UI, Vue, Router, Image, Nuxt

#270 [수정] #267 SSR방식 지원 위한 쿠키 추가, useAuthDataFetch 버그 수정
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepositoryImpl.java
  frontend-2/components/card/CardBranchList.vue
  frontend-2/components/card/CardTreeDetails.vue
  frontend-2/components/input/InputBackSearchLeaf.vue
  frontend-2/components/input/InputBackSearchTree.vue
  frontend-2/components/input/InputSearchWithBackBtn.vue
  frontend-2/composables/useAuthDataFetch.js
  frontend-2/composables/useAuthFetch.js
  frontend-2/middleware/auth.global.js
  frontend-2/middleware/auth.global1.js
  frontend-2/pages/home/index.vue
  frontend-2/pages/tree/[id]/index.vue
  frontend-2/stores/useMemberStore.js
Labels: UI, Vue, tree, Nuxt, backEnd

#271 Fix: [버그] #269 리프 리스트 화면 버그 수정
  frontend-2/components/log/LogItem.vue
  frontend-2/pages/leaf/index.vue
  frontend-2/public/css/layout.css
Labels: bug, UI, Vue

#274 [기능] Google, Naver Oauth2 연동 완료
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/AuthController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/member/dto/AuthInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/member/dto/IsMemberRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/api/dto/AuthResponseDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/api/dto/GoogleOauthDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/api/dto/NaverOauthAccessDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/api/dto/NaverUserInfo.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/api/oauth2/GoogleOauthClient.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/api/oauth2/NaverOauthClient.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/AuthServiceImpl.java
  backend-2/src/main/resources/application-dev.yml
  backend-2/src/main/resources/application-prod.yml
  backend-2/src/main/resources/application-test.yml
  backend-2/src/main/resources/data.sql
  backend-2/src/main/resources/data_V1.sql
  frontend-2/components/link/SocialLogin.vue
  frontend-2/nuxt.config.ts
  frontend-2/package-lock.json
  frontend-2/package.json
Labels: JavaScript, FrontEnd, API, Nuxt, backEnd

#276 Fix: [버그] #269 리프 리스트 화면 버그 수정
  frontend-2/components/background/Detail.vue
  frontend-2/components/background/UserInfoBackHeaderMemoirTitle.vue
  frontend-2/components/card/CardAnotherRecordsList.vue
  frontend-2/components/card/CardEtcHiddenInfo.vue
  frontend-2/components/card/CardTreeList.vue
  frontend-2/components/input/InputBackSearchLeaf.vue
  frontend-2/components/input/InputBackSearchTree.vue
  frontend-2/components/text/TextEtcInfoNoTitle.vue
  frontend-2/composables/useBackNavigation.js
  frontend-2/composables/useMemberJoinTmp.js
  frontend-2/middleware/auth.global.js
  frontend-2/middleware/backNavigation.global.js
  frontend-2/pages/home/index.vue
  frontend-2/pages/leaf/book/[id]/index.vue
  frontend-2/pages/leaf/book/new.vue
  frontend-2/pages/leaf/etc/[id]/edit.vue
  frontend-2/pages/leaf/etc/[id]/index.vue
  frontend-2/pages/leaf/index.vue
  frontend-2/pages/leaf/search.vue
  frontend-2/pages/member/find/email.vue
  frontend-2/pages/member/join/email.vue
  frontend-2/pages/member/login.vue
  frontend-2/pages/member/oauth/new.vue
  frontend-2/pages/member/password-reset.vue
  frontend-2/pages/memoir/[id]/index.vue
  frontend-2/pages/tree/[id]/index.vue
  frontend-2/pages/tree/book/search.vue
  frontend-2/pages/tree/search.vue
  frontend-2/plugins/auth-reload.client.js
  frontend-2/public/css/layout.css
  frontend-2/public/png/6.png
  frontend-2/stores/useMemberStore.js
Labels: UI, Vue

#278 [기능] 유저 기본 프로필 이미지 추가
  frontend-2/components/bar/BarUserInfoFollowBtn.vue
  frontend-2/composables/useMemberProfileImg.js
  frontend-2/public/favicon.ico
  frontend-2/public/png/default-profile.png
Labels: 퍼블리싱, 컴포넌트, Vue, Nuxt

#280 [수정] 도서 탐색간 배경 블러 오류 해결
  frontend-2/components/button/BtnShortAGreen.vue
  frontend-2/components/card/CardBookPreviews.vue
  frontend-2/components/card/CardBranchList.vue
  frontend-2/components/card/TreeInfoCard.vue
  frontend-2/components/link/SocialLogin.vue
  frontend-2/components/text/TextBookInfo.vue
  frontend-2/components/top-bar/TopBarBack.vue
  frontend-2/components/top-bar/TopBarClearBack.vue
  frontend-2/pages/home/empty.vue
  frontend-2/pages/home/index.vue
  frontend-2/pages/memoir/[id]/index.vue
  frontend-2/pages/tree/[id]/index.vue
  frontend-2/pages/tree/book/auto/[id]/new.vue
  frontend-2/pages/tree/book/search.vue
  frontend-2/pages/tree/seed.vue
  frontend-2/public/css/layout.css
  frontend-2/stores/useMemberStore.js
Labels: 퍼블리싱, 컴포넌트, 레이아웃, Vue, Nuxt

#281 [기능] Kako Oauth 2 연동 완료
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/AuthController.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/api/dto/KakaoAccessResponseDto.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/api/dto/KakaoUserInfo.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/api/oauth2/KakaoOauthClient.java
  backend-2/src/main/resources/application-dev.yml
  backend-2/src/main/resources/application-prod.yml
  backend-2/src/main/resources/application-test.yml
  backend-2/src/main/resources/data.sql
  frontend-2/components/link/SocialLogin.vue
  frontend-2/nuxt.config.ts
  frontend-2/stores/useMemberStore.js
Labels: FrontEnd, API, Nuxt, backEnd

#282 [수정] #267 seed페이지 Fetch 수정 완료
  frontend-2/components/tab-filter/FilterTabGet.vue
  frontend-2/pages/tree/seed.vue
Labels: 컴포넌트, UI, Vue, Nuxt

#284 [fix] #277 씨앗 선택 pop-up 버그 수정
  frontend-2/pages/tree/seed.vue
  frontend-2/public/css/layout.css
Labels: bug, 퍼블리싱, 컴포넌트, UI, Vue, Nuxt

#286 Add: #277 회고록, 리프, 디테일 카드 사이드 스크롤 버그 수정
  backend-2/http/member-controller.http
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/MemberController.java
  frontend-2/components/card/CardAnotherRecordsList.vue
  frontend-2/components/card/CardTreeList.vue
  frontend-2/components/card/SnsCardTreeList.vue
  frontend-2/pages/book/[id]/index.vue
  frontend-2/pages/leaf/book/[id]/index.vue
  frontend-2/pages/leaf/etc/[id]/index.vue
  frontend-2/pages/leaf/index.vue
  frontend-2/pages/member/join/email.vue
  frontend-2/pages/memoir/[id]/index.vue
  frontend-2/pages/tree/book/search.vue
  frontend-2/public/css/common/reset.css
Labels: bug, UI

#291 [기능] #287 네비게이션 구현 완료
  frontend-2/components/nav/NavigationBar.vue
  frontend-2/middleware/nav.global.js
  frontend-2/nuxt.config.ts
  frontend-2/pages/community/index.vue
  frontend-2/pages/home/index.vue
  frontend-2/pages/leaf/index.vue
  frontend-2/pages/member/[id]/index.vue
  frontend-2/plugins/auth-reload.client.js
  frontend-2/plugins/nav-reload.client.js
  frontend-2/stores/useMemberStore.js
  frontend-2/stores/useNavStore.js
Labels: 퍼블리싱, 컴포넌트, UI, Vue, Router, Nuxt

#292 [수정] #288 최근 수정 순 10개 트리 조회 수정
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeServiceImpl.java
Labels: bug, DB, API, backEnd

#296 Fix/ #293 전반적인 기타 트리 조회 로직 개선, 홈 화면 트리 fetch 버그 수정
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafBookCardResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/MemoirController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirBookCardDtoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeBookCardResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/service/MemoirDtoServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepositoryImpl.java
  frontend-2/components/bar/LeafReadingPageInfo.vue
  frontend-2/components/card/CardAnotherRecords.vue
  frontend-2/components/card/CardTreeDetails.vue
  frontend-2/components/card/CardTreeInfoCover.vue
  frontend-2/components/card/CardTreePreviews.vue
  frontend-2/components/header/HeaderSearchLink.vue
  frontend-2/components/text/RecentTreeInfo.vue
  frontend-2/components/text/TextBookInfoNoTitle.vue
  frontend-2/composables/useAuthFetch.js
  frontend-2/composables/useGetImageUrl.js
  frontend-2/pages/home/index.vue
  frontend-2/pages/tree/search.vue
  frontend-2/pages/tree/seed.vue
  frontend-2/plugins/auth-reload.client.js
  frontend-2/types/types.ts
Labels: 퍼블리싱, 컴포넌트, UI, 리펙토링, Fix, DB, Data, Repository, Controller, FrontEnd, Vue, JPA, API, book, tree, member, Image, Nuxt, QueryDSL, backEnd, Card

#300 Fix: [수정] #277 기타 태그 버그 수정
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/LeafTagController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafTagListResponse.java
  frontend-2/components/log/LogCurrentLog.vue
  frontend-2/composables/useLeafFormData.js
  frontend-2/composables/useLeafTagList.js
  frontend-2/middleware/edit.global.js
  frontend-2/pages/leaf/book/[id]/edit.vue
  frontend-2/pages/leaf/book/new.vue
  frontend-2/pages/leaf/etc/[id]/edit.vue
  frontend-2/pages/leaf/etc/[id]/new.vue
  frontend-2/pages/leaf/etc/new.vue
  frontend-2/pages/leaf/tag/index.vue
Labels: bug, API

#301 [기능] 네비게이션 버튼 별 뒤로가기 스택 구현
  frontend-2/components/button/LoginJoinPageBackBtn.vue
  frontend-2/components/footer/Footer.vue
  frontend-2/components/input/InputBackSearch.vue
  frontend-2/components/input/InputBackSearchLeaf.vue
  frontend-2/components/input/InputBackSearchTree.vue
  frontend-2/components/input/InputSearchWithBackBtn.vue
  frontend-2/components/link/SocialLogin.vue
  frontend-2/components/nav/NavigationBar.vue
  frontend-2/components/top-bar/TopBarBack.vue
  frontend-2/components/top-bar/TopBarClearBack.vue
  frontend-2/components/top-bar/TopBarTransparent.vue
  frontend-2/composables/useAuthFetch.js
  frontend-2/composables/useBackNavigation.js
  frontend-2/composables/useGoBack.js
  frontend-2/middleware/back.global.js
  frontend-2/middleware/backNavigation.global.js
  frontend-2/pages/book/category.vue
  frontend-2/pages/member/login.vue
  frontend-2/pages/tree/[id]/index.vue
  frontend-2/pages/tree/book/auto/[id]/new.vue
  frontend-2/plugins/nav-reload.client.js
  frontend-2/stores/useBackStore.js
  frontend-2/stores/useNavStore.js
Labels: 컴포넌트, JavaScript, Vue, Nuxt

#305 [add] 토큰 재발급 구현 완료
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/MemberController.java
  backend-2/src/main/java/io/ggogit/ggogit/config/CorsConfig.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberServiceImpl.java
  backend-2/src/main/resources/application-dev.yml
  backend-2/src/main/resources/application.yml
  frontend-2/components/card/CardLeafPreviews.vue
  frontend-2/components/card/CardTree.vue
  frontend-2/components/card/CardTreePreviews.vue
  frontend-2/components/footer/Footer.vue
  frontend-2/components/input/InputBackSearch.vue
  frontend-2/middleware/auth.global.js
  frontend-2/middleware/refreshToken.global.js
  frontend-2/pages/member/join/email.vue
  frontend-2/pages/member/oauth/new.vue
  frontend-2/stores/useBackStore.js
  frontend-2/stores/useMemberStore.js
Labels: 리펙토링, Nuxt, backEnd, HTTP

#304 Fix: [수정] 도서 디테일 상단바.
  frontend-2/components/top-bar/TopBarClearBack.vue
Labels: bug, UI

#309 [기능] 네비게이션 바 더블클릭 구현
  backend-2/src/main/resources/static/uploads/tmp/1c85ada6e3af41f2bcc5107e0a0a0fdf..webp
  frontend-2/assets/css/layout.css
  frontend-2/components/bar/LogPath.vue
  frontend-2/components/card/CardTreeInfoCover.vue
  frontend-2/components/input/PageNumber.vue
  frontend-2/components/nav/NavigationBar.vue
  frontend-2/middleware/back.global.js
  frontend-2/nuxt.config.ts
  frontend-2/pages/leaf/index.vue
  frontend-2/pages/member/login.vue
  frontend-2/plugins/doubleTap.js
Labels: 컴포넌트, UI, Router, Nuxt

#310 [기능] Update: Home화면 무한 스크롤, 트리 갯수 구현 완료
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeListHome.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeServiceImpl.java
  backend-2/src/main/resources/application.yml
  frontend-2/components/card/CardBranchList.vue
  frontend-2/components/card/CardTreeDetails.vue
  frontend-2/components/filter/FilterTreeList.vue
  frontend-2/components/text/TreeCount.vue
  frontend-2/pages/home/index.vue
Labels: CSS, JavaScript, FrontEnd, API, Nuxt, backEnd

#312 Fix: [버그] #277 도서 트리 생성 버그 수정
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeTmpRequest.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/book/entity/Book.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/entity/TreeTmp.java
Labels: bug, API, backEnd

#313 [수정 ] #331 회고록 삭제시 이미지 삭제 구현
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/MemoirController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/memoir/service/MemoirServiceImpl.java
  backend-2/src/main/resources/application-dev.yml
  backend-2/src/main/resources/application.yml
  backend-2/src/main/resources/static/uploads/tmp/1c85ada6e3af41f2bcc5107e0a0a0fdf..webp
  frontend-2/components/background/UserInfoBackHeaderMemoirTitle.vue
  frontend-2/components/button/LinkFullWidth.vue
  frontend-2/components/card/CardHiddenInfoTree.vue
  frontend-2/components/link/LinkOneImageDetail.vue
  frontend-2/components/top-bar/TopBarTransparent.vue
  frontend-2/pages/memoir/[id]/edit.vue
  frontend-2/pages/memoir/[id]/index.vue
  frontend-2/pages/memoir/[id]/reg.vue
Labels: UI, 리펙토링, DB, API, backEnd

#314 [추가] 리프 태그 & 리프 태그 맵 데이터 추가
  backend-2/src/main/resources/data.sql
  frontend-2/pages/home/empty.vue
  frontend-2/public/favicon.ico
Labels: DB, Data, Image, backEnd

#316 [수정] #315 도서 디테일 카드 수정 완료
  backend-2/src/main/java/io/ggogit/ggogit/api/leaf/dto/LeafCardResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/memoir/dto/MemoirCardDtoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeCardDtoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/leaf/repository/LeafQueryDslRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/repository/query/TreeQueryRepositoryImpl.java
  frontend-2/components/card/CardTree.vue
  frontend-2/components/card/SnsCardTree.vue
  frontend-2/pages/book/[id]/index.vue
  frontend-2/stores/useBackStore.js
Labels: 퍼블리싱, UI, Fix, Data, Vue, API, Nuxt, QueryDSL, backEnd, Card

#318 [수정 ] 회고록 카드 HTML제거
  frontend-2/components/card/SnsCardTree.vue
  frontend-2/composables/useDomParser.js
Labels: UI, Vue

#322 Fix: [버그] 페이지 이동 포커싱 버그 수정
  backend-2/src/main/resources/data.sql
  frontend-2/assets/css/layout.css
  frontend-2/components/background/UserInfoBackHeaderMemoirTitle.vue
  frontend-2/components/bar/BarMemoirTitleBtn.vue
  frontend-2/components/card/CardTreeInfoCover.vue
  frontend-2/components/input/DefaultData.vue
  frontend-2/composables/useLeafTagList.js
  frontend-2/pages/leaf/book/[id]/index.vue
  frontend-2/pages/leaf/index.vue
  frontend-2/pages/leaf/tag/index.vue
  frontend-2/pages/memoir/[id]/reg.vue
  frontend-2/public/css/layout.css
Labels: bug, UI

#329 회원 정보 수정 버그 수정
  backend-2/src/main/java/io/ggogit/ggogit/api/member/dto/MemberResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/entity/MemberBackgroundImage.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/entity/MemberProfileImage.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberImageServiceImpl.java
  backend-2/src/main/resources/static/uploads/member/00f9dbdbacc34d339a98bdcde5ad10c2..jpg
  backend-2/src/main/resources/static/uploads/member/671ce18980c849d4b1e5bcf3d78393b1..png
  backend-2/src/main/resources/static/uploads/memberBackGround/2ed66c21d9c8448893e0efa7f43560ec..jpg
  backend-2/src/main/resources/static/uploads/memberBackGround/def5b2c3a98246a784ba4c25c50020a5..png
Labels: Fix, API, backEnd

#331 [기능] Tree Update / Delete 구현 완료 및 모달창 완성
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/TreeController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/tree/dto/TreeInfoResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeImageService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeImageServiceImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/tree/service/TreeServiceImpl.java
  backend-2/src/main/resources/static/uploads/book/323bbdadaffc498a88e7f935ca7ad220..jpg
  backend-2/src/main/resources/static/uploads/book/4491d22c8c8e423ebf9fbc15e9777fdc..jpg
  backend-2/src/main/resources/static/uploads/book/583daabc6ce041e683250a8283486112..jpg
  backend-2/src/main/resources/static/uploads/book/74e272de7ea946edbaec005e74ea95d4..jpg
  backend-2/src/main/resources/static/uploads/book/e86ee2d61fc24ce4b87e5115b5e9a4d4..jpg
  frontend-2/components/card/CardHiddenInfoTree.vue
  frontend-2/components/card/CardTreeInfoCoverBtns.vue
  frontend-2/components/input/BookInputImg.vue
  frontend-2/components/modal/DeleteModal.vue
  frontend-2/components/modal/Modal.vue
  frontend-2/pages/test.vue
  frontend-2/pages/tree/[id]/book/edit.vue
  frontend-2/pages/tree/[id]/etc/edit.vue
  frontend-2/pages/tree/[id]/index.vue
Labels: Data, Controller, FrontEnd, API, Image

#333 [기능] 개인 페이지 기록 개수 표현 구현
  backend-2/src/main/java/io/ggogit/ggogit/api/member/controller/MemberController.java
  backend-2/src/main/java/io/ggogit/ggogit/api/member/dto/MemberDomainCntResponse.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/repository/query/MemberQueryRepository.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/repository/query/MemberQueryRepositoryImpl.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberService.java
  backend-2/src/main/java/io/ggogit/ggogit/domain/member/service/MemberServiceImpl.java
  backend-2/src/main/resources/static/uploads/memberBackGround/ae19a1970bff40d1a7ab1ab68745c077..png
  frontend-2/app.vue
  frontend-2/assets/css/common/reset.css
  frontend-2/assets/css/common/text.css
  frontend-2/components/background/UserInfoHeader.vue
  frontend-2/components/bar/BarUserInfoMyPage.vue
  frontend-2/components/calendar/Heatmap.vue
  frontend-2/components/chart/Chart.vue
  frontend-2/components/chart/ChartDougnut.vue
  frontend-2/components/chart/ChartYBar.vue
  frontend-2/package-lock.json
  frontend-2/package.json
  frontend-2/pages/member/[id]/edit.vue
  frontend-2/pages/member/[id]/index.vue
Labels: 컴포넌트, UI, Vue, API, QueryDSL, backEnd
