Repository Jomalang/ggogit, pull requests merged in 2024-08, with the labels that each got.

#5 컴포넌트 input, textbox 추가
  others/heegwon.html
  others/jeayeong.html
  others/jinpil.html
  others/teagyu.html
  src/main/resources/static/common/reset.css
  src/main/resources/static/common/text.css
  src/main/resources/static/common/variables.css
  src/main/resources/templates/component/hyeonjin/input/input.css
  src/main/resources/templates/component/hyeonjin/input/input.html
  src/main/resources/templates/component/hyeonjin/text-box/textbox.css
  src/main/resources/templates/component/hyeonjin/text-box/textbox.html
  src/main/resources/templates/component/jinpil/1.txt
  src/main/resources/templates/component/taegyu/2.txt
Labels: 퍼블리싱, HTML, CSS

#4 퍼블리싱 홈 레이아웃
  src/main/resources/static/css/home-no-tree.css
  src/main/resources/static/css/styles.css
  src/main/resources/static/img/home/home-left-book.png
  src/main/resources/static/img/home/home-mid-book.png
  src/main/resources/static/img/home/home-right-book.png
  src/main/resources/static/img/home/no-tree-left-book.png
  src/main/resources/static/img/home/no-tree-mid-book.png
  src/main/resources/static/img/home/no-tree-right-book.png
  src/main/resources/static/img/no-tree-mid-book.png
  src/main/resources/templates/view/book/detail/comment-action.html
  src/main/resources/templates/view/book/detail/comment.html
  src/main/resources/templates/view/book/detail/index.html
  src/main/resources/templates/view/home/index.html
  src/main/resources/templates/view/home/no-tree.html
  src/main/resources/templates/view/home/tree/0-detail-filter.html
  src/main/resources/templates/view/home/tree/1-detail-filter.html
  src/main/resources/templates/view/home/tree/detail.html
  src/main/resources/templates/view/home/tree/search/filter.html
  src/main/resources/templates/view/home/tree/search/list.html
  src/main/resources/templates/view/home/tree/search/log-list.html
  src/main/resources/templates/view/jinpil/4.txt
  src/main/resources/templates/view/login/email.html
  src/main/resources/templates/view/login/index.html
  src/main/resources/templates/view/login/join-active.html
  src/main/resources/templates/view/login/join-email.html
  src/main/resources/templates/view/login/join-input.html
  src/main/resources/templates/view/login/join.html
  src/main/resources/templates/view/login/login-active.html
  src/main/resources/templates/view/tree/branch/list-detail.html
  src/main/resources/templates/view/tree/branch/list-filter.html
  src/main/resources/templates/view/tree/branch/list-sort.html
  src/main/resources/templates/view/tree/branch/list.html
  src/main/resources/templates/view/tree/log/list.html
  src/main/resources/templates/view/tree/log/register/book.html
  src/main/resources/templates/view/tree/log/register/etc.html
  src/main/resources/templates/view/tree/log/register/tag-list.html
  src/main/resources/templates/view/tree/log/register/youtube.html
  src/main/resources/templates/view/tree/memoir/reg.html
  src/main/resources/templates/view/tree/register/0-index.html
  src/main/resources/templates/view/tree/register/1-seed-pop-up.html
  src/main/resources/templates/view/tree/register/2-book-btn.html
  src/main/resources/templates/view/tree/register/3-book-search-data.html
  src/main/resources/templates/view/tree/register/3-book-search-no-data.html
  src/main/resources/templates/view/tree/register/3-book-search.html
  src/main/resources/templates/view/tree/register/4-reg-book.html
  src/main/resources/templates/view/tree/register/4-reg-etc.html
  src/main/resources/templates/view/tree/register/4-reg-inspiration.html
  src/main/resources/templates/view/tree/register/4-reg-search-book.html
  src/main/resources/templates/view/tree/register/4-reg-youtube.html
  src/main/resources/templates/view/tree/register/5-reg-book-category.html
  src/main/resources/templates/view/user/tree/index.html
  src/main/resources/templates/view/user/tree/log/comment-action.html
  src/main/resources/templates/view/user/tree/log/comment.html
  src/main/resources/templates/view/user/tree/log/index.html
  src/main/resources/templates/view/user/tree/memoir/comment-action.html
  src/main/resources/templates/view/user/tree/memoir/comment.html
  src/main/resources/templates/view/user/tree/memoir/index.html
Labels: 퍼블리싱, HTML, CSS

#6 Add: #2 배경 컴포넌트
  src/main/resources/templates/component/taegyu/background/index.html
  src/main/resources/templates/component/taegyu/css/reset.css
  src/main/resources/templates/component/taegyu/css/styles.css
  src/main/resources/templates/component/taegyu/img/bg-book.png
  src/main/resources/templates/component/taegyu/img/home-book.png
  src/main/resources/templates/component/taegyu/img/no-tree-left-book.png
  src/main/resources/templates/component/taegyu/img/no-tree-mid-book.png
  src/main/resources/templates/component/taegyu/img/no-tree-right-book.png
Labels: 퍼블리싱, HTML, CSS, 컴포넌트

#11 Add: #2 Footer
  resource/fonts/pretendard-subset.css
  resource/fonts/pretendard.css
  resource/fonts/pretendardvariable.css
  resource/icons/commuIcon.png
  resource/icons/homeicon.png
  resource/icons/lens.png
  resource/icons/mypageIcon.png
  resource/icons/searchIcon.png
  resource/icons/sortIcon.png
  resource/pictures/div.left-img-box.png
  resource/pictures/div.mid-img-box.png
  resource/pictures/div.right-img-box.png
  resource/pictures/tree-list.png
  src/main/resources/static/common/effect.css
  src/main/resources/static/common/reset.css
  src/main/resources/static/common/variables.css
  src/main/resources/static/img/logo/logo-sample.png
  src/main/resources/static/img/member/topbar-member-bar__image.png
  src/main/resources/static/svg/topbar-comment-box__submit.svg
  src/main/resources/static/svg/topbar-comment-box__user-img.svg
  src/main/resources/static/svg/topbar-comment__btn.svg
  src/main/resources/static/svg/topbar-comment__cancel-icon.svg
  src/main/resources/static/svg/topbar-user-bar__image.svg
  src/main/resources/templates/component/hyeonjin/index.css
  src/main/resources/templates/component/hyeonjin/input/input.html
  src/main/resources/templates/component/hyeonjin/topbar/topbar.css
  src/main/resources/templates/component/hyeonjin/topbar/topbar.html
Labels: documentation, 퍼블리싱, HTML, CSS, 컴포넌트

#10 Add: #2 버튼 컴포넌트
  src/main/resources/static/svg/icon-booklist__button--green.svg
  src/main/resources/static/svg/icon-booklist__button.svg
  src/main/resources/static/svg/icon-bookmark__button--green.svg
  src/main/resources/static/svg/icon-bookmark__button.svg
  src/main/resources/static/svg/icon-branch__button--green.svg
  src/main/resources/static/svg/icon-branch__button.svg
  src/main/resources/static/svg/icon-check__button.svg
  src/main/resources/static/svg/icon-checkbox-check-icon.svg
  src/main/resources/templates/component/jaeyoung/buttons.css
  src/main/resources/templates/component/jaeyoung/buttons.html
  src/main/resources/templates/component/jeayeong/3.txt
Labels: 퍼블리싱, HTML, CSS, 컴포넌트

#15 Update: #2 Variables
  src/main/resources/static/common/effect.css
  src/main/resources/static/common/reset.css
  src/main/resources/static/common/variables.css
  src/main/resources/static/svg/card-tree-book-cover.svg
  src/main/resources/static/svg/card-tree-details-complete.svg
  src/main/resources/static/svg/sort.svg
  src/main/resources/templates/component/hyeonjin/card/card.css
  src/main/resources/templates/component/hyeonjin/card/card.html
  src/main/resources/templates/component/hyeonjin/filter/filter.css
  src/main/resources/templates/component/hyeonjin/filter/filter.html
  src/main/resources/templates/component/hyeonjin/textbox/textbox.css
  src/main/resources/templates/component/hyeonjin/textbox/textbox.html
  src/main/resources/templates/component/hyeonjin/topbar/topbar.css
  src/main/resources/templates/component/hyeonjin/topbar/topbar.html
  src/main/resources/templates/view/tree/register/0-index.html
Labels: 퍼블리싱, HTML, CSS, 컴포넌트

#21 #13 `fragment` 폴더 figma와 동기화
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/css/tmp.css
  src/main/resources/static/js/input-img-book-change.js
  src/main/resources/static/svg/book-photo-form.svg
  src/main/resources/templates/fragments/background.html
  src/main/resources/templates/fragments/button-filter.html
  src/main/resources/templates/fragments/button-link.html
  src/main/resources/templates/fragments/button.html
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/fragments/input-img.html
  src/main/resources/templates/fragments/input-radio.html
  src/main/resources/templates/fragments/input-text.html
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/nav.html
  src/main/resources/templates/fragments/tab-filter.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/fragments/top-bar.html
  src/main/resources/templates/view/home/no-tree.html
  src/main/resources/templates/view/tree/book/reg.html
Labels: 퍼블리싱, HTML, CSS, 컴포넌트, 레이아웃, UI, 리펙토링

#28 #13 도서 직접 입력 트리 생성 페이지 제작
  src/main/java/Recorders/ggogit/controller/tree/RegisterController.java
  src/main/java/Recorders/ggogit/controller/tree/TreeController.java
  src/main/java/Recorders/ggogit/entity/BookCategory.java
  src/main/java/Recorders/ggogit/entity/BookCategoryType.java
  src/main/java/Recorders/ggogit/entity/SeedCategory.java
  src/main/java/Recorders/ggogit/entity/SeedCategoryType.java
  src/main/java/Recorders/ggogit/entity/Tree.java
  src/main/resources/application.properties
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/js/filter-tab.js
  src/main/resources/templates/fragments/button.html
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/tab-filter.html
  src/main/resources/templates/view/tree/book/reg.html
  src/main/resources/templates/view/tree/book/test.html
Labels: 퍼블리싱, 레이아웃, UI

#29 Add: #13 etc 트리 생성 페이지
  src/main/java/Recorders/ggogit/controller/tree/TreeController.java
  src/main/java/Recorders/ggogit/entity/SeedCategoryType.java
  src/main/java/Recorders/ggogit/entity/Tree.java
  src/main/resources/static/css/layout.css
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/view/tree/book/reg.html
  src/main/resources/templates/view/tree/etc/reg.html
Labels: 퍼블리싱, CSS, 레이아웃, UI, Fragment

#30 탑바 텍스트 중앙정렬
  src/main/resources/static/css/fragments.css
Labels: CSS, UI, 리펙토링, Fragment

#31 Add: # 13 (도서)로그 생성 페이지 추가
  src/main/java/Recorders/ggogit/controller/tree/LogController.java
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/log.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/view/tree/book/reg-copy.html
  src/main/resources/templates/view/tree/book/reg.html
  src/main/resources/templates/view/tree/etc/reg.html
  src/main/resources/templates/view/tree/log/register/book.html
Labels: 퍼블리싱, HTML, 레이아웃, UI, Fragment

#32 Add: #13 (기타)로그 생성 페이지
  src/main/java/Recorders/ggogit/controller/tree/LogController.java
  src/main/resources/templates/view/tree/log/register/etc.html
Labels: 퍼블리싱, HTML, CSS, 레이아웃, UI

#37 Add: #13 도서 detail page
  src/main/java/Recorders/ggogit/controller/book/BookController.java
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/img/book/detail/book.jpg
  src/main/resources/static/img/book/detail/comment-profile.png
  src/main/resources/static/img/card/detail-book.png
  src/main/resources/static/svg/back--white.svg
  src/main/resources/static/svg/comment--white.svg
  src/main/resources/static/svg/comment-profile.svg
  src/main/resources/static/svg/detail-like.svg
  src/main/resources/static/svg/detail-share--active.svg
  src/main/resources/static/svg/detail-share.svg
  src/main/resources/static/svg/home--white.svg
  src/main/resources/static/svg/leaf-icon--white.svg
  src/main/resources/static/svg/like--white.svg
  src/main/resources/static/svg/memoir-icon--white.svg
  src/main/resources/static/svg/search--white.svg
  src/main/resources/static/svg/tree-icon--white.svg
  src/main/resources/templates/component/card/card.css
  src/main/resources/templates/component/footer/footer.css
  src/main/resources/templates/component/input/input.css
  src/main/resources/templates/component/top-bar/top-bar.css
  src/main/resources/templates/componentWorking/hyeonjin/index.css
  src/main/resources/templates/fragments/background.html
  src/main/resources/templates/fragments/bar.html
  src/main/resources/templates/fragments/bot-bar.html
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/fragments/top-bar.html
  src/main/resources/templates/view/book/comment-action.html
  src/main/resources/templates/view/book/comment.html
  src/main/resources/templates/view/book/detail.html
  src/main/resources/templates/view/book/detail/index.html
Labels: 퍼블리싱, HTML, CSS, 레이아웃, UI, Fragment

#40 Add home(트리 있음)
  src/main/java/Recorders/ggogit/controller/home/HomeController.java
  src/main/java/Recorders/ggogit/entity/Tree.java
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/js/home-tree-explanation.js
  src/main/resources/static/js/home-tree-index-carousel.js
  src/main/resources/static/svg/book-cover-dummy1.svg
  src/main/resources/static/svg/book-cover-dummy2.svg
  src/main/resources/static/svg/book-cover-dummy3.svg
  src/main/resources/static/svg/book-cover-dummy4.svg
  src/main/resources/templates/component/textbox/textbox.html
  src/main/resources/templates/fragments/background.html
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/filter.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/view/home/index.html
  src/main/resources/templates/view/home/tree/search/index.html
  src/main/resources/templates/view/home/tree/search/tree-list.html
  src/main/resources/templates/view/tree/book/reg.html
  src/main/resources/templates/view/tree/register/0-index.html
  src/main/resources/templates/view/tree/register/3-book-search.html
Labels: 퍼블리싱, UI, Fragment, JavaScript

#42 Add: 로그인,회원가입 페이지 작업 #5
  src/main/java/Recorders/ggogit/controller/login/LoginController.java
  src/main/resources/static/css/fragments.css
  src/main/resources/static/css/layout.css
  src/main/resources/static/practice/style.css
  src/main/resources/static/svg/google-circle.svg
  src/main/resources/static/svg/kakao-circle.svg
  src/main/resources/static/svg/naver-circle.svg
  src/main/resources/templates/fragments/button.html
  src/main/resources/templates/fragments/input.html
  src/main/resources/templates/fragments/link.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/view/login/email.html
  src/main/resources/templates/view/login/index.html
  src/main/resources/templates/view/login/join.html
Labels: 퍼블리싱, HTML, CSS, Fragment

#45 Add: ERD 개념 설계 파일 등록
  ggogit.drawio
Labels: ERD, DB, 설계

#44 Fix: title 폰트 크기 버그 수정
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/text.html
  src/main/resources/templates/view/book/detail.html
  src/main/resources/templates/view/tree/book/reg.html
  src/main/resources/templates/view/tree/branch/list.html
  src/main/resources/templates/view/tree/etc/reg.html
  src/main/resources/templates/view/tree/log/list.html
  src/main/resources/templates/view/tree/log/register/book.html
  src/main/resources/templates/view/tree/log/register/etc.html
  src/main/resources/templates/view/tree/log/register/first/book.html
  src/main/resources/templates/view/tree/log/register/first/etc.html
  src/main/resources/templates/view/tree/memoir/register/index.html
  src/main/resources/templates/view/tree/register/4-reg-search-book.html
  src/main/resources/templates/view/user/tree/index.html
  src/main/resources/templates/view/user/tree/memoir/index.html
Labels: bug, Fix

#50 Add: #3 domain-Memoir CURD 테스트
  build.gradle
  src/main/java/Recorders/ggogit/domain/memoir/4.txt
  src/main/java/Recorders/ggogit/domain/memoir/Memoir.java
  src/main/java/Recorders/ggogit/domain/memoir/MemoirRepository.java
  src/main/java/Recorders/ggogit/web/CommonTypeHandler/booleanToNumberTypeHandler.java
  src/main/java/Recorders/ggogit/web/memoir/memoirSaveForm.java
  src/main/resources/application.yml
  src/main/resources/mappers/MemoirRepositoryMapper.xml
  src/main/resources/mybatis-config.xml
  src/test/java/Recorders/ggogit/memoir/MemoirRepositoryTest.java
Labels: DB, Data
